<div>

  <div>
    <%= link_to("新建股票数据", new_admin_us_stock_path, :class => "btn btn-default pull-right" ) %>

    <!-- 行业筛选 -->
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>代码/symbol</th>
        <th>名称/name</th>
        <th>中文名称/cnname</th>
        <th>上市时间/ipoyear</th>
        <th>领域/sector</th>
        <th>行业/industry</th>
        <!-- <th>财务指标/cwzb</th> -->
        <th>利润表/lrb</th>
        <th>流量表/llb</th>
        <th>资产表/zcb</th>
        <th>静态数据/sd</th>
        <th>操作</th>
        <th>数据版本us_version_1</th>
        <th>数据版本us_version_3</th>
      </tr>
    </thead>
    <tbody>
      <% @us_stocks.each do |us_stock| %>
        <tr>
          <td><%=link_to(us_stock.symbol, admin_us_stock_path(us_stock)) %></td>
          <td><%= us_stock.name %></td>
          <td><%= us_stock.cnname %></td>
          <!--  -->
          <% if us_stock.ipoyear.nil? %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td><%= us_stock.ipoyear %></td>
          <% end %>
          <!--  -->
          <% if us_stock.sector.nil? %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td><%= us_stock.sector %></td>
          <% end %>
          <!--  -->
          <% if us_stock.industry.nil? %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td><%= us_stock.industry %></td>
          <% end %>
          <!--  -->
          <!-- <% if us_stock.cwzb.nil? || us_stock.cwzb == "" %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
          <% end %> -->
          <!--  -->
          <% if us_stock.lrb.nil? || us_stock.lrb == "" %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
          <% end %>
          <!--  -->
          <% if us_stock.llb.nil? || us_stock.llb == ""  %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
          <% end %>
          <!--  -->
          <% if us_stock.zcb.nil? || us_stock.zcb == ""  %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
          <% end %>
          <!--  -->
          <% if us_stock.static_data.nil? || us_stock.static_data == ""  %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td style="color: green"><i class="fa fa-check" aria-hidden="true"></i></td>
          <% end %>
          <td>
            <%= link_to("编辑", edit_admin_us_stock_path(us_stock), :class => "btn btn-xs btn-default") %>
            <%= link_to("删除", admin_us_stock_path(us_stock), method: :delete, :class => "btn btn-xs btn-default", data: { confirm: "确定删除" }) %>
          </td>
          <!--  -->
          <% if us_stock.us_version_1.nil? %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td><%= us_stock.us_version_1 %></td>
          <% end %>
          <!--  -->
          <% if us_stock.us_version_3.nil? %>
            <td style="color: red"><i class="fa fa-times" aria-hidden="true"></i></td>
          <% else %>
            <td><%= us_stock.us_version_3 %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @us_stocks %>



</div>
