<div>

  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>品目</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>代码/symbol</td>
        <td><%= @us_stock.symbol %></td>
      </tr>
      <tr>
        <td>名称/cnname</td>
        <td><%= @us_stock.cnname %></td>
      </tr>
      <tr>
        <td>行业/industry</td>
        <td><%= @us_stock.industry %></td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!-- tab标签导航栏 -->
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab">财务指标/cwzb</a>
      </li>
      <li>
        <a href="#tab_default_2" data-toggle="tab">资产表/zcb</a>
      </li>
      <li>
        <a href="#tab_default_3" data-toggle="tab">利润表/lrb</a>
      </li>
      <li>
        <a href="#tab_default_4" data-toggle="tab">流量表/llb</a>
      </li>
    </ul>
  </div>


  <div class="tab-content">

    <!-- 财务指标/cwzb TAB -->
    <div class="tab-pane active" id="tab_default_1" style="white-space:nowrap;">
      <h3>财务指标/cwzb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.报告日期</td></tr>
          <tr><td>1.估值指标</td></tr>
          <tr><td>2.总市值（账期末）（M）</td></tr>
          <tr><td>3.市盈率（账期末）</td></tr>
          <tr><td>4.市净率（账期末）</td></tr>
          <tr><td>5.市现率（账期末）</td></tr>
          <tr><td>6.市销率（账期末）</td></tr>
          <tr><td>7.盈利指标</td></tr>
          <tr><td>8.总资产收益率（%）</td></tr>
          <tr><td>9.净资产收益率（%）</td></tr>
          <tr><td>10.营业毛利率（%）</td></tr>
          <tr><td>11.税前利润率（%）</td></tr>
          <tr><td>12.营业利润率（%）</td></tr>
          <tr><td>13.净利润率（%）</td></tr>
          <tr><td>14.销售收入/平均总资产（%）</td></tr>
          <tr><td>15.总资本回报率（%）</td></tr>
          <tr><td>16.财务比率</td></tr>
          <tr><td>17.总负债/总资产（%）</td></tr>
          <tr><td>18.普通股权益/总资产（%）</td></tr>
          <tr><td>19.派息比率（%）</td></tr>
          <tr><td>20.资本支出/销售额（%）</td></tr>
          <tr><td>21.流动性指标</td></tr>
          <tr><td>22.流动比率</td></tr>
          <tr><td>23.负债/息税前营业利润</td></tr>
          <tr><td>24.速动比率</td></tr>
          <tr><td>25.每股指标</td></tr>
          <tr><td>26.每股净资产</td></tr>
          <tr><td>27.摊薄每股收益</td></tr>
          <tr><td>28.每股销售额</td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..28).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.cwzb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


    <!-- 资产表/zcb TAB -->
    <div class="tab-pane" id="tab_default_2" style="white-space:nowrap;">
      <h3>资产表/zcb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.报告日期</td></tr>
          <tr><td>1.资产项</td></tr>
          <tr><td>2.流动资产</td></tr>
          <tr><td>3.其中：现金和短期投资</td></tr>
          <tr><td>4.其中：现金</td></tr>
          <tr><td>5.短期应收账款</td></tr>
          <tr><td>6.存货</td></tr>
          <tr><td>7.其他流动资产</td></tr>
          <tr><td>8.投资和预付款</td></tr>
          <tr><td>9.长期应收票据</td></tr>
          <tr><td>10.无形资产</td></tr>
          <tr><td>11.固定资产、厂房和设备</td></tr>
          <tr><td>12.递延税资产</td></tr>
          <tr><td>13.其他资产</td></tr>
          <tr><td>14.总投资</td></tr>
          <tr><td>15.合计：总资产</td></tr>
          <tr><td>16.负债项</td></tr>
          <tr><td>17.流动负债</td></tr>
          <tr><td>18.其中：短期债务</td></tr>
          <tr><td>19.应付账款</td></tr>
          <tr><td>20.应交税费</td></tr>
          <tr><td>21.其他流动负债</td></tr>
          <tr><td>22.长期债务</td></tr>
          <tr><td>23.递延税负债</td></tr>
          <tr><td>24.其他负债</td></tr>
          <tr><td>25.合计：总负债</td></tr>
          <tr><td>26.所有者权益</td></tr>
          <tr><td>27.股东权益</td></tr>
          <tr><td>28.其中：少数股东权益</td></tr>
          <tr><td>29.归属于母公司股东的权益</td></tr>
          <tr><td>30.总股本</td></tr>
          <tr><td>31.每股净资产</td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..31).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.zcb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


    <!-- 利润表/lrb TAB -->
    <div class="tab-pane" id="tab_default_3" style="white-space:nowrap;">
      <h3>利润表/lrb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.报告日期</td></tr>
          <tr><td>1.营业收入</td></tr>
          <tr><td>2.（-）营业成本</td></tr>
          <tr><td>3.营业毛利</td></tr>
          <tr><td>4.（-）销售、管理和行政费用</td></tr>
          <tr><td>5.（-）其他费用</td></tr>
          <tr><td>6.息税前营业利润</td></tr>
          <tr><td>7.（+）营业外收支净额</td></tr>
          <tr><td>8.（-）利息支出</td></tr>
          <tr><td>9.（+）非经常性损益</td></tr>
          <tr><td>10.利润总额（税前）</td></tr>
          <tr><td>11.（-）所得税</td></tr>
          <tr><td>12.（+）未合并的子公司利润</td></tr>
          <tr><td>13.（+）其他调整</td></tr>
          <tr><td>14.合并净利润</td></tr>
          <tr><td>15.（-）少数股东损益</td></tr>
          <tr><td>16.归属于母公司的净利润</td></tr>
          <tr><td>17.（-）优先股股息</td></tr>
          <tr><td>18.归属于普通股东的综合收益</td></tr>
          <tr><td>19.（÷）普通股本</td></tr>
          <tr><td>20.基本每股收益</td></tr>
          <tr><td>21.本期每股红利</td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..21).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.lrb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


    <!-- 现金流量表/llb TAB -->
    <div class="tab-pane" id="tab_default_4" style="white-space:nowrap;">
      <h3>现金流量表/llb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.报告日期</td></tr>
          <tr><td>1.经营现金流</td></tr>
          <tr><td>2.经营产生的现金流入</td></tr>
          <tr><td>3.其中：净利润（现金流表）</td></tr>
          <tr><td>4.折旧摊销和损耗</td></tr>
          <tr><td>5.递延税和投资税优惠</td></tr>
          <tr><td>6.非现金项目</td></tr>
          <tr><td>7.非经常项目损益</td></tr>
          <tr><td>8.营运资本变动</td></tr>
          <tr><td>9.合计：经营净现金流</td></tr>
          <tr><td>10.投资现金流</td></tr>
          <tr><td>11.(-)资本性支出</td></tr>
          <tr><td>12.(-)并购资产净额</td></tr>
          <tr><td>13.固定资产和业务出售收入</td></tr>
          <tr><td>14.投资买卖净额</td></tr>
          <tr><td>15.合计：投资净现金流</td></tr>
          <tr><td>16.融资现金流</td></tr>
          <tr><td>17.(-)红利支付</td></tr>
          <tr><td>18.股权融资净额</td></tr>
          <tr><td>19.债权融资净额</td></tr>
          <tr><td>20.其他融资净额</td></tr>
          <tr><td>21.合计：融资净现金流</td></tr>
          <tr><td>22.总计</td></tr>
          <tr><td>23.汇率变动影响</td></tr>
          <tr><td>24.其他现金流</td></tr>
          <tr><td>25.净现金流</td></tr>
          <tr><td>26.自由现金流</td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..26).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.llb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>





  </div>

</div>
