<div>

  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>品目</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>代码/symbol</td>
        <td><%= @us_stock.symbol %></td>
      </tr>
      <tr>
        <td>名称/cnname</td>
        <td><%= @us_stock.name %></td>
      </tr>
      <tr>
        <td>中文名称/cnname</td>
        <td><%= @us_stock.cnname %></td>
      </tr>
      <tr>
        <td>上市时间/ ipoyear</td>
        <td><%= @us_stock.ipoyear %></td>
      </tr>
      <tr>
        <td>行业/ sector</td>
        <td><%= @us_stock.sector %></td>
      </tr>
      <tr>
        <td>行业细分/industry</td>
        <td><%= @us_stock.industry %></td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!-- tab标签导航栏 -->
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab_default_2" data-toggle="tab">资产表/zcb</a>
      </li>
      <li>
        <a href="#tab_default_3" data-toggle="tab">利润表/lrb</a>
      </li>
      <li>
        <a href="#tab_default_4" data-toggle="tab">流量表/llb</a>
      </li>
    </ul>
  </div>


  <div class="tab-content">

    <!-- 资产表/zcb TAB -->
    <div class="tab-pane active" id="tab_default_2" style="white-space:nowrap;">
      <h3>资产表/zcb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.<strong style="color: blue">[期末结束]</strong> 报告时间</td></tr>
          <tr><td>1.<strong style="color: blue">[当前资产]</strong></td></tr>
          <tr><td>2.现金及现金等价物</td></tr>
          <tr><td>3.短期投资</td></tr>
          <tr><td>4.净应收款</td></tr>
          <tr><td>5.库存</td></tr>
          <tr><td>6.其他流动资产</td></tr>
          <tr><td>7.<strong>流动资产总额</strong></td></tr>
          <tr><td>8.长期投资</td></tr>
          <tr><td>9.物业，厂房及设备</td></tr>
          <tr><td>10.商誉</td></tr>
          <tr><td>11.无形资产</td></tr>
          <tr><td>12.累计摊销</td></tr>
          <tr><td>13.其他资产</td></tr>
          <tr><td>14.递延长期资产费用</td></tr>
          <tr><td>15.<strong>总资产</strong></td></tr>
          <tr><td>16.<strong style="color: blue">[流动负债]</strong></td></tr>
          <tr><td>17.应付账款</td></tr>
          <tr><td>18.短期/现期长期债务</td></tr>
          <tr><td>19.其他流动负债</td></tr>
          <tr><td>20.<strong>总流动负债</strong></td></tr>
          <tr><td>21.长期债务</td></tr>
          <tr><td>22.其他负债</td></tr>
          <tr><td>23.延期长期责任费用</td></tr>
          <tr><td>24.少数股权</td></tr>
          <tr><td>25.负面的商誉</td></tr>
          <tr><td>26.负债总额</td></tr>
          <tr><td>27.<strong style="color: blue">[股东权益]</strong></td></tr>
          <tr><td>28.杂项、股票期权认股权证</td></tr>
          <tr><td>29.可赎回的优先股</td></tr>
          <tr><td>30.优先股</td></tr>
          <tr><td>31.普通股</td></tr>
          <tr><td>32.留存收益</td></tr>
          <tr><td>33.库存股</td></tr>
          <tr><td>34.资本盈余</td></tr>
          <tr><td>35.其他股东权益</td></tr>
          <tr><td>36.总股东权益</td></tr>
          <tr><td>37.<strong>净有形资产</strong></td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..37).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.zcb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


    <!-- 利润表/lrb TAB -->
    <div class="tab-pane" id="tab_default_3" style="white-space:nowrap;">
      <h3>利润表/lrb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.<strong style="color: blue">[收入]</strong> 报告时间</td></tr>
          <tr><td>1.总收入	</td></tr>
          <tr><td>2.收入成本</td></tr>
          <tr><td>3.<strong>毛利</strong></td></tr>
          <tr><td>4.<strong style="color: blue">[营业费用]</strong></td></tr>
          <tr><td>5.研究和发展</td></tr>
          <tr><td>6.行政费用</td></tr>
          <tr><td>7.非循环</td></tr>
          <tr><td>8.其他</td></tr>
          <tr><td>9.总营业费用</td></tr>
          <tr><td>10.<strong>营业收入或亏损</strong></td></tr>
          <tr><td>11.<strong style="color: blue">[持续经营收入]</strong></td></tr>
          <tr><td>12.其他收入/支出总额净额</td></tr>
          <tr><td>13.利息和税前收益</td></tr>
          <tr><td>14.利息花费</td></tr>
          <tr><td>15.税前收入</td></tr>
          <tr><td>16.所得税费用</td></tr>
          <tr><td>17.少数股权</td></tr>
          <tr><td>18.<strong>持续运营的净收入</strong></td></tr>
          <tr><td>19.<strong style="color: blue">[非经常性事件]</strong></td></tr>
          <tr><td>20.停止运营</td></tr>
          <tr><td>21.特别项目</td></tr>
          <tr><td>22.会计变更的影响</td></tr>
          <tr><td>23.其他项目</td></tr>
          <tr><td>24.<strong style="color: blue">[净收入]</strong></td></tr>
          <tr><td>25.<strong>净收入</strong></td></tr>
          <tr><td>26.优先股和其他调整</td></tr>
          <tr><td>27.适用于普通股的净收入</td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..27).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.lrb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>


    <!-- 现金流量表/llb TAB -->
    <div class="tab-pane" id="tab_default_4" style="white-space:nowrap;">
      <h3>现金流量表/llb</h3>
      <!-- 科目 -->
      <div class="col-md-1">
        <table class="table table-striped">
          <tr><td>0.<strong style="color: blue">[期末结束]</strong> 报告时间</td></tr>
          <tr><td>1.<strong>净收入</strong></td></tr>
          <tr><td>2.<strong style="color: blue">[经营活动现金流量]</strong></td></tr>
          <tr><td>3.折旧</td></tr>
          <tr><td>4.调整净收入</td></tr>
          <tr><td>5.应收帐款的变更</td></tr>
          <tr><td>6.负债变动</td></tr>
          <tr><td>7.库存变化</td></tr>
          <tr><td>8.其他经营活动的变化</td></tr>
          <tr><td>9.<strong>经营活动产生的现金流量总额</strong></td></tr>
          <tr><td>10.<strong style="color: blue">[投资活动现金流量]</strong></td></tr>
          <tr><td>11.资本支出</td></tr>
          <tr><td>12.投资</td></tr>
          <tr><td>13.投资活动产生的其他现金流量</td></tr>
          <tr><td>14.<strong>投资活动产生的现金流量总额</strong></td></tr>
          <tr><td>15.<strong style="color: blue">[融资活动现金流量]</strong></td></tr>
          <tr><td>16.支付的股息</td></tr>
          <tr><td>17.销售购买股票</td></tr>
          <tr><td>18.净借款</td></tr>
          <tr><td>19.融资活动产生的其他现金流量</td></tr>
          <tr><td>20.<strong>融资活动产生的现金流量总额</strong></td></tr>
          <tr><td>21.汇率变动的影响</td></tr>
          <tr><td>22.<strong>现金和现金等价物的变化</strong></td></tr>
        </table>
      </div>
      <!-- 数据 -->
      <div class="col-md-11">
        <table class="table table-striped">
          <% (0..22).each do |r| %>
            <tr>
              <td>.</td>
              <% JSON.parse(@us_stock.llb)[r].each do |i| %>
                <td><%= i %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>





  </div>

</div>
