<div class="note-box">
  <!-- 消息栏标头 -->
  <div class="note-box-side">

    <!-- 发布者头像位置 -->
    <div class="note-left">
      <div class="note-left-side">
        <%= link_to user_path(note.user) do %>
        <div class="media">
          <div class="media-left">
            <%= image_tag(note.user.avatar, :class => "img-circle") %>
          </div>
          <div class="media-body">
            <h5 class="media-heading"><%= note.user.username %></h5>
            <t><%= time_ago_in_words( note.created_at ) %>前</t>
          </div>
        </div>
        <% end %>
      </div>

      <!-- 笔记等级 -->
      <div class="note-mid-side">
        <%= note.level %>
      </div>
    </div>

    <!-- 点赞收藏 -->
    <div class="note-right pull-right">
      <span id="note-like-<%= note.id %>">
        <%= render :partial => "//notes/like", :locals => { :note => note } %>
      </span>

    </div>
  </div>

  <!-- note 笔记内容 -->
  <div class="note-info">
    <a data-toggle="collapse" href="#note-content-<%= note.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <span class="pull-right">
        <% if note.status == "私密" %>
          <i class="fa fa-lock" aria-hidden="true"></i>
        <% elsif note.status == "对会员公开" %>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        <% end %>
      </span>
      <div class="note-title">
        <%= note.title %>
      </div>
    </a>
    <div class="collapse" id="note-content-<%= note.id %>">
      <div class="note-content">
        <% if current_user && (current_user.role == "member" || current_user.role == "admin") %>
          <%= simple_format(sanitize note.description) %> <br>
        <% else %>
          <% if note.status == "公开" %>
            <%= simple_format(sanitize note.description) %> <br>
          <% else %>
            <br><p class="text-center"> - 对会员公开 - </p> <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
