<div class="wrapper">

    <!-- 所有行业列表 -->
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs industry-list">

      <!-- 需要分析的领域 title -->
      <div class="industry-title">
        领域：
      </div>
      <br>

      <!-- 其他领域下拉单 - 可点击选择 -->
      <div class="dropdown clearfix">
        <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          选择 领域
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
          <% @all_sectors.each do |i| %>
            <li>
              <%= link_to sector_us_stocks_path(:order => i) do %>
                <%= i %>
                <span class="badge pull-right">
                  <%= @us_stocks.where(:sector => i).select{ |x| x.static_data[2] != "0"  }.size %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <hr>

      <!-- 需要分析的行业 title -->
      <div class="industry-title">
        行业：
      </div>
      <br>

      <!-- 其他行业下拉单 - 可点击选择 -->
      <div class="dropdown clearfix">
        <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= @industry %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider"  style="height:800px; overflow:scroll" >
          <% @all_industrys.each do |i| %>
            <li>
              <%= link_to industry_us_stocks_path(:order => i) do %>
                <%= i %>
                <span class="badge pull-right">
                  <%= @us_stocks.where(:industry => i).select{ |x| x.static_data[2] != "0"  }.size %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>


    </div>


    <!-- 行业指标排序 -->
    <div class="col-lg-10 col-md-10 col-ms-12 col-xs-12">
      <%= render :partial => "industry_table" %>
    </div>

</div>

<!-- 自定义 title -->
<% content_for :title do %>
  <%= @industry %> -
<% end %>

<script>
  $(document).ready(function(){
    $(".<%= @industry %>").each(function(){
      $(this).css("background-color", "#222");
      $(this).css("color", "#f9f9f9");
      $(this).css("text-decoration", "none");
    });
  });
</script>






<!-- 百度自动推送 -->
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
