<div class="wrapper">

  <!-- 同类行业列表栏 会员可见-->
  <% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs industry-list">
      <%= render "industry_order_member" %>
    </div>
  <% else %>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs industry-list">
      <%= render "industry_order_nonmember" %>
    </div>
  <% end %>


  <!-- 左表：股票信息+资产负债信息 分析 -->
  <div class="stock-info col-lg-5 col-md-12">

      <!-- 股票信息 -->
      <!-- <div class="stock-title"> -->                               <!-- 在 md 以下时左右布局 -->
      <div class="stock-intro col-md-12 col-sm-12 row">        <!-- 在 md 以下时展开布局 -->
        <div class="stock-title">
          <span class="stock-name"> <%= @us_stock.cnname %> </span>
          <span class="stock-symbol"> - <%= @us_stock.symbol %></span>
          <span class="stock-price" price-data="<%= @latest_price[1] %>">
            <em>¥</em>
            <%= @latest_price[0].to_f.round(2) %>
            <em> (
              <%= @latest_price[1] %>
              <% if @latest_price[1].to_f > 0 %>
                <i class="fa fa-angle-up" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              <% end %>
              ) </em>
          </span>
        </div>
        <strong>
          <p>行业：<%= @us_stock.industry %></p>
          <p>市场: <%= @us_stock.market %></p>
          <p>滚动市盈率(TTM): <%= @latest_price[2] %></p>
          <p>股息率: <%= @latest_price[3] %></p>
        </strong>

        <!-- <div class="main_business col-md-12 row">
          <p title="<%= @us_stock.main_business %>"><strong>主营业务: </strong><%= @us_stock.main_business %></p>
        </div> -->

        <!-- 近十年财报分析 & 行业统计分析 只有会员可见 -->
        <% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
          <div class="to-finance-btn">
            <span>
              <%= link_to("行业统计分析 >>", root_path, :class => "btn btn-sm btn-default") %>
            </span>
          </div>
        <% end %>

      </div>

      <!-- 资产负债信息 -->
      <!-- <div class="table-left"> -->                                 <!-- 在 md 以下时左右布局 -->
      <div class="table-left col-md-12 col-sm-12 row">          <!-- 在 md 以下时展开布局 -->
        <% if @us_stock.zcb && @us_stock.zcb != "" %>                 <!-- 如果存在数据. 并且数据不为空时 -->
          <%= render :partial => "main_finance_table_1", :locals => { :static_data => JSON.parse(@us_stock.static_data) } %>
          <%= render :partial => "main_finance_table_4", :locals => { :static_data => JSON.parse(@us_stock.static_data) } %>
        <% else %>
          <p>暂无数据</p>
        <% end %>
      </div>

    </div>

    <!-- 财务结构+偿债能力+经营能力+获利能力+现金流量 分析 -->
    <div class="table-right col-lg-5 col-md-12">
      <% if @us_stock.zcb && @us_stock.zcb != "" %>                   <!-- 如果存在数据. 并且数据不为空时 -->
        <%= render :partial => "main_finance_table_2", :locals => { :static_data => JSON.parse(@us_stock.static_data) } %>
        <%= render :partial => "main_finance_table_3", :locals => { :static_data => JSON.parse(@us_stock.static_data) } %>
      <% else %>
        <p>暂无数据</p>
      <% end %>
    </div>


</div>




<!-- 股价涨跌时分别显示红色或绿色 -->
<script>
  $(document).ready(function(){
    $(".stock-price").each(function(){
      var Num = parseFloat($(this).attr("price-data"));
      if (Num > 0){
        $(this).css("color", "red");
      } else {
        $(this).css("color", "#339933");
      };
    });
  });
</script>
