
<%= simple_form_for ([user, @user_us_trade_new]) do |f| %>
<div class="modal-body">
  <%= f.input :stock, :label => "股票代码", :placeholder => "美股代码， 如”AAPL“", input_html: { class: "form-control"} %>
  <%= f.input :buy_price, :label => "买入价格", :placeholder => "购买股票的价格", input_html: { class: "form-control"} %>
  <%= f.input :buy_time, :label => "买入时间", input_html: { class: "form-control"} %> <hr>
  <%= f.input :sell_price, :label => "卖入价格", :placeholder => "如果持有尚未卖出，不用输入", input_html: { class: "form-control"} %>
  <%= f.input :sell_time, :label => "卖入时间", input_html: { class: "form-control"} %> <hr>
  <%= f.input :description, :label => "策略", :placeholder => "对这笔交易的分析......", input_html: { class: "form-control", :rows => 6, :style=> 'width: 100%;'} %>
  <label for="note-level-button">策略是否公开？</label><br>
  <div id="note-status-button" class="btn-group" data-toggle="buttons">
    <% UsTrade::TRADE_STATUS.each do |status| %>
      <label class="btn btn-sm btn-default <%= (status == f.object.status)? 'active' : '' %>">
        <%= f.radio_button :status, status %>
        <%= t(status, :scope => "us_trade.status") %>
      </label>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit "发布", class: "btn btn-default pull-left", data: {disable_with: "Submiting"} %>
  <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
</div>
<% end %>
