<div class="trade-list">

  <!-- 股票代码 stock -->
  <div class="trade-stock">
    <!-- 判读股票代码是否输入正确 -->
    <% if UsStock.find_by_symbol(trade.stock).blank? %>
      <strong> <%= trade.stock %> </strong>
      <a type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="股票代码错误，请修改！">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </a>
    <% else %>

      <!-- # 避免 us_trade.stock 又出现点的情况 -->
      <% if trade.stock.include?(".") %>
        <% set_easy_symbol = trade.stock.split(".")[0] + "_" + trade.stock.split(".")[1] %>
      <% else %>
        <% set_easy_symbol = trade.stock %>
      <% end %>

      <%= link_to us_stock_path(set_easy_symbol) do %>
        <strong> <%= UsStock.find_by_symbol(trade.stock).cnname[0..8] %> - <%= trade.stock %> </strong>
      <% end %>
    <% end %>

    <!-- 如果是当前用户，有编辑功能 -->
    <% if current_user && current_user == @user %>
      <span class="pull-right">
        <a class="" data-toggle="modal" data-target="#us-trade-edit-<%= trade.id %>">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
      </span>
    <% end %>
    <%= render :partial => "//us_trades/us_trade_edit", :locals => { :trade => trade } %>
  </div>

  <!-- 股票交易信息 -->
  <a class="" data-toggle="modal" data-target="#us-trade-show-<%= trade.id %>">
    <div class="trade-info">

      <!-- 买入信息 -->
      <p>买入时间：<strong><%= trade.buy_time.strftime("%Y-%m-%d") %></strong></p>
      <p>买入价格：<strong class="us-buy-price-<%= trade.id %>" us-data-trade-id="<%= trade.id %>" us-data-buy-price="<%= trade.buy_price %>">
        <%= trade.buy_price %></strong> <em>$</em>
      </p><hr>

      <% if trade.sell_price.blank? || trade.sell_time.blank? %>
        <% if UsStock.find_by_symbol(trade.stock).blank? %>
          <p>当前价格：<strong>0</p>
          <p>浮动盈亏：<strong>0</strong></p>
        <% else %>
          <!-- 浮动价格信息 -->
          <% latest_price = UsStock.find_by_symbol(trade.stock).us_stock_latest_price_and_PE[0] %>
          <p>当前价格：<strong class="us-latest-price-<%= trade.id %>" us-data-trade-id="<%= trade.id %>" us-data-latest-price="<%= latest_price %>">
            <%= latest_price %> <em style="font-weight:normal;">$</em></strong>
          </p>
          <p>浮动盈亏：<strong class="us-floating-price-<%= trade.id %>" us-data-floating-price="<%= (( latest_price.to_f - trade.buy_price ) / trade.buy_price * 100 ).round(2) %>">
            <%= (( latest_price.to_f - trade.buy_price ) / trade.buy_price * 100 ).round(1) %> % </strong>
          </p>
        <% end %>
      <% else %>
        <!-- 卖出了结价格信息 -->
        <p>卖出时间：<strong><%= trade.sell_time.strftime("%Y-%m-%d") %></strong></p>
        <p>卖出价格：<strong class="us-sell-price-<%= trade.id %>" us-data-trade-id="<%= trade.id %>" us-data-sell-price="<%= trade.sell_price %>">
          <%= trade.sell_price %> <em style="font-weight:normal;">$</em></strong>
        </p>
        <p>结算盈亏：<strong class="us-settlement-price-<%= trade.id %>" us-data-trade-id="<%= trade.id %>" us-data-settlement-price="<%= (( trade.sell_price - trade.buy_price ) / trade.buy_price * 100 ).round(2) %>">
          <%= (( trade.sell_price - trade.buy_price ) / trade.buy_price * 100 ).round(1) %> % </strong>
        </p>
      <% end %>
    </div>
  </a>
  <%= render :partial => "//us_trades/us_trade_show", :locals => { :trade => trade } %>

</div>

<script>

// 当前股价/结算股价 与 买入股价 对比，">"显示红色， "=<"显示绿色。
// 结算盈亏，">0"显示红色， "=<0"显示绿色。
$(document).ready(function(){
  $('strong').each(function(){
    // 声明传入值
    var tradeClass = $(this).attr("us-data-trade-id");
    var dataBuyPrice = $("." + "us-buy-price-" + tradeClass).attr("us-data-buy-price");
    var dataLatestPrice = $("." + "us-latest-price-" + tradeClass).attr("us-data-latest-price");
    var dataFloatingPrice = $("." + "us-floating-price-" + tradeClass).attr("us-data-floating-price");
    var dataSellPrice = $("." + "us-sell-price-" + tradeClass).attr("us-data-sell-price");
    var dataSettlementPrice = $("." + "us-settlement-price-" + tradeClass).attr("us-data-settlement-price");

    // 要用 parseFloat() 方法来吧数字转化为 JS 的浮点数类型 要不然胡导致数字运算错误
    // 判断 买入价 VS 当前价
    if (parseFloat(dataLatestPrice) > parseFloat(dataBuyPrice)) {
      $("." + "us-latest-price-" + tradeClass).css("color", "red");
    } else {
      $("." + "us-latest-price-" + tradeClass).css("color", "#339933");
    };

    // 判断 买入价 VS 结算价
    if (parseFloat(dataSellPrice) > parseFloat(dataBuyPrice)) {
      $("." + "us-sell-price-" + tradeClass).css("color", "red");
    } else {
      $("." + "us-sell-price-" + tradeClass).css("color", "#339933");
    };

    // 判断 浮动盈亏 正负值
    if (parseFloat(dataFloatingPrice) > 0) {
      $("." + "us-floating-price-" + tradeClass).css("color", "red");
    } else {
      $("." + "us-floating-price-" + tradeClass).css("color", "#339933");
    };

    // 判断 结算盈亏 正负值
    if (parseFloat(dataSettlementPrice) > 0) {
      $("." + "us-settlement-price-" + tradeClass).css("color", "red");
    } else {
      $("." + "us-settlement-price-" + tradeClass).css("color", "#339933");
    };

  });
});

</script>
