<!-- ______________________________________A股部分______________________________________ -->
<div class="text-center">

  <h1>A 股</h1>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 沪股 列表", admin_base_data_update_sh_stock_symbol_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:沪股 列表 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 深股 列表", admin_base_data_update_sz_stock_symbol_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:深股 列表 ?" }) %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 财务报表 数据version_1", admin_base_data_update_stock_finance_table_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:财务报表数据 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 股票分红 数据version_2", admin_base_data_update_stock_dividends_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:股票分红 数据 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 数据静态保存 数据version_3", admin_base_data_update_static_data_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:数据静态保存 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 pyramid_rating 静态保存 数据version_4", admin_base_data_update_stock_pyramid_rating_data_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:pyramid_rating 数据静态化 ?" }) %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 行业信息", admin_base_data_update_industry_info_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:行业 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 公司信息", admin_base_data_update_stock_company_info_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:公司信息 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 上市时间 & 拼音简称", admin_base_data_update_stock_time_to_market_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "上市时间 & 拼音简称 ?" }) %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 设置-A股行业", admin_base_data_update_industry_setting_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:设置-A股行业 ?" }) %>
  </div>

</div>



<br><br><br>
<!-- ______________________________________美股部分______________________________________ -->


<div class="text-center">

  <h1>美 股</h1>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= form_tag admin_base_data_update_us_stock_symbol_path, :multipart => true do %>
      <p><%= file_field_tag "csv_file" %></p>
      <p><%= submit_tag "美股列表、行业 CSV数据 汇入", :class => "btn btn-sm btn-default btn-block" %></p>
    <% end %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 美股 财务报表 数据us_version_1", admin_base_data_update_us_stock_finance_table_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:美股 财务表 数据 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 美股 数据静态保存 数据us_version_3", admin_base_data_update_us_stock_static_data_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:美股 数据静态保存 ?" }) %>
  </div>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <%= link_to("更新 pyramid_rating 静态保存 数据us_version_4", admin_base_data_update_us_stock_pyramid_rating_data_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:pyramid_rating 数据静态化 ?" }) %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 美股 中文名 行业 数据", admin_base_data_update_us_stock_company_info_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:美股 中文名 行业 ?" }) %>
  </div>

  <hr>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("更新 设置-美股行业", admin_base_data_update_us_industry_setting_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:设置-美股行业 ?" }) %>
  </div>



</div>





<br><br><br>
<!-- ______________________________________百度链接推送______________________________________ -->


<div class="text-center">

  <h1>百度链接推送</h1>

  <div class="" style="max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 20px">
    <%= link_to("百度链接推送", admin_base_data_baidu_url_push_path, method: :post, :class => "btn btn-sm btn-default btn-block", data: { confirm: "确定更新:百度链接推送 ?" }) %>
  </div>


</div>
