<!-- 1.所有的数据,都需要判断其数量,以便填充表格时能够确保样式和对应数据的准确性 -->

<div>
  <table class="table table-striped table-bordered">
    <tr class="theader-style">
      <% if time == 5 %>
        <td align=left width = "35%">资产负债比率(占总资产%)</td>
        <% m = @stock.quarter_years(1, 0).reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>无统计</td>
        <% end %>
        <% @stock.quarter_years(1, 0)[0..4].reverse.each do |i| %>
          <td align=center width = "13%"><%= i[0..3] %></td>
        <% end %>
      <% elsif time == 10 %>
        <td align=left width = "30%">资产负债比率(占总资产%)</td>
        <% m = @stock.quarter_years(1, 0).reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>无统计</td>
        <% end %>
        <% @stock.quarter_years(1, 0)[0..9].reverse.each do |i| %>
          <td align=center width = "7%"><%= i[0..3] %></td>
        <% end %>
      <% elsif time == 2 %>
        <td align=left width = "55%">资产负债比率(占总资产%)</td>
        <% m = @stock.quarter_years(1, 0).reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>无统计</td>
        <% end %>
        <% @stock.quarter_recent(1, 0).reverse.each do |i| %>
          <td align=center width = "20%"><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td align=left>现金与约当现金(%)</td>
      <% m = @stock.cash_and_cash_equivalents_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.cash_and_cash_equivalents_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>应收账款(%)</td>
      <% m = @stock.receivables_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.receivables_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>存货(%)</td>
      <% m = @stock.inventory_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.inventory_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>流动资产(%)</td>
      <% m = @stock.current_assets_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.current_assets_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>总资产(%)</td>
      <% (1..m).each do |i| %>
        <td>100</td>
      <% end %>
    </tr>

    <tr>
      <td align=left>应付账款(%)</td>
      <% m = @stock.accounts_payable_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.accounts_payable_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>流动负债(%)</td>
      <% m = @stock.current_liabilities_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.current_liabilities_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>长期负债(%)</td>
      <% m = @stock.long_term_liability_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.long_term_liability_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>股东权益(%)</td>
      <% m = @stock.shareholders_equity_ratio(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.shareholders_equity_ratio(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr>
      <td align=left>总负债+股东权益(%)</td>
      <% (1..m).each do |i| %>
        <td>100</td>
      <% end %>
    </tr>

  </table>
</div>
