<!-- 1.所有的数据,都需要判断其数量,以便填充表格时能够确保样式和对应数据的准确性 -->

<div>
  <table class="table table-striped table-bordered">

    <tr>
      <th width = "35%">资产负债比率(占总资产%)</th>
      <% if @stock.quarter_years[0..4].count == 0 %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      <% elsif @stock.quarter_years[0..4].count == 1 %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif  @stock.quarter_years[0..4].count == 2 %>
        <th></th>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif @stock.quarter_years[0..4].count == 3 %>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif @stock.quarter_years[0..4].count == 4 %>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif %>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>现金与约当现金(%)</td>
      <% if @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 0 %>
        <td colspan=5 align=center>无财报</td>
      <% elsif @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 1 %>
        <td colspan=4 align=center>无财报</td>
        <% @stock.cash_and_cash_equivalents_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 2 %>
        <td colspan=3 align=center>无财报</td>
        <% @stock.cash_and_cash_equivalents_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 3 %>
        <td colspan=2 align=center>无财报</td>
        <% @stock.cash_and_cash_equivalents_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 4 %>
        <td colspan=1 align=center>无财报</td>
        <% @stock.cash_and_cash_equivalents_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_and_cash_equivalents_ratio[0..4].reverse.count == 5 %>
        <% @stock.cash_and_cash_equivalents_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>应收账款(%)</td>
      <% if @stock.receivables_ratio[0..4].reverse.count == 0 %>
        <td colspan=5 align=center>无财报</td>
      <% elsif @stock.receivables_ratio[0..4].reverse.count == 1 %>
        <td colspan=4 align=center>无财报</td>
        <% @stock.receivables_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.receivables_ratio[0..4].reverse.count == 2 %>
        <td colspan=3 align=center>无财报</td>
        <% @stock.receivables_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.receivables_ratio[0..4].reverse.count == 3 %>
        <td colspan=2 align=center>无财报</td>
        <% @stock.receivables_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.receivables_ratio[0..4].reverse.count == 4 %>
        <td colspan=1 align=center>无财报</td>
        <% @stock.receivables_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.receivables_ratio[0..4].reverse.count == 5 %>
        <% @stock.receivables_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>存货(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>流动资产(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>总资产(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>应付账款(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>流动负债(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>长期负债(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>股东权益(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>总负债+股东权益(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
