<!-- 1.所有的数据,都需要判断其数量,以便填充表格时能够确保样式和对应数据的准确性 -->

<div>
  <table class="table table-striped table-bordered">

    <tr>
      <th width = "10%">类别</th>
      <th width = "25%">财务比率</th>
      <% if @stock.quarter_years[0..4].count == 0 %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      <% elsif @stock.quarter_years[0..4].count == 1 %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif  @stock.quarter_years[0..4].count == 2 %>
        <th></th>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif @stock.quarter_years[0..4].count == 3 %>
        <th></th>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif @stock.quarter_years.count == 4 %>
        <th></th>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% elsif %>
        <% @stock.quarter_years[0..4].reverse.each do |i| %>
          <th width = "13%"><%= i[0..3] %></th>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th rowspan="2">财务结构</th>
      <td>负债占资产比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>长期资金占不动产/厂房及设备比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="2">偿债能力</th>
      <td>流动比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>速动比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <th rowspan="6">经营能力</th>
      <td>应收账款周转率(次)</td>
      <% if @stock.accounts_receivable_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 5 %>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>平均收现日数</td>
      <% if @stock.accounts_receivable_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.accounts_receivable_turnover_ratio.reverse.count == 5 %>
        <% @stock.accounts_receivable_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>存货周转率(次)</td>
      <% if @stock.inventory_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 5 %>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>平均销货日数(平均在库天数)</td>
      <% if @stock.inventory_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% elsif @stock.inventory_turnover_ratio.reverse.count == 5 %>
        <% @stock.inventory_turnover_ratio.reverse.each do |i| %>
          <td><%= (360 / i).round(2) %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>不动产/厂房及设备周转率(次)</td>
      <% if @stock.fixed_asset_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.fixed_asset_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.fixed_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.fixed_asset_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.fixed_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.fixed_asset_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.fixed_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.fixed_asset_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.fixed_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.fixed_asset_turnover_ratio.reverse.count == 5 %>
        <% @stock.fixed_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>总资产周转率(次)</td>
      <% if @stock.total_asset_turnover_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.total_asset_turnover_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.total_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.total_asset_turnover_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.total_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.total_asset_turnover_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.total_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.total_asset_turnover_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.total_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.total_asset_turnover_ratio.reverse.count == 5 %>
        <% @stock.total_asset_turnover_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <th rowspan="8">获利能力</th>
      <td>资产报酬率(%) RoA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>权益报酬率(%) RoE</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <!-- <tr>
      <td>税前纯益占实收资本比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->

    <tr>
      <td>营业毛利率(%) ①</td>
      <% if @stock.operating_margin_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.operating_margin_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.operating_margin_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_margin_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.operating_margin_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_margin_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.operating_margin_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_margin_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.operating_margin_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_margin_ratio.reverse.count == 5 %>
        <% @stock.operating_margin_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>营业利益率(%) ②</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>经营安全边际率(%) = ② / ①</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>纯益率(%) = 净利率</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>每股盈余(元)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>税后净利(百万元)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3">现金流量</th>
      <td>现金流量比率(%)</td>
      <% if @stock.operating_cash_flow_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.operating_cash_flow_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.operating_cash_flow_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.operating_cash_flow_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.operating_cash_flow_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.operating_cash_flow_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.reverse.count == 5 %>
        <% @stock.operating_cash_flow_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>现金流量允当比率(%)</td>
      <% if @stock.cash_flow_adequancy_ratio[0..4].count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 5 %>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>现金再投资比率(%)</td>
      <% if @stock.cash_re_investment_ratio.reverse.count == 0 %>
        <td colspan=5 align=center>无统计</td>
      <% elsif @stock.cash_re_investment_ratio.reverse.count == 1 %>
        <td colspan=4 align=center>无统计</td>
        <% @stock.cash_re_investment_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_re_investment_ratio.reverse.count == 2 %>
        <td colspan=3 align=center>无统计</td>
        <% @stock.cash_re_investment_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_re_investment_ratio.reverse.count == 3 %>
        <td colspan=2 align=center>无统计</td>
        <% @stock.cash_re_investment_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_re_investment_ratio.reverse.count == 4 %>
        <td colspan=1 align=center>无统计</td>
        <% @stock.cash_re_investment_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_re_investment_ratio.reverse.count == 5 %>
        <% @stock.cash_re_investment_ratio.reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>
