<!-- 1.所有的数据,都需要判断其数量,以便填充表格时能够确保样式和对应数据的准确性 -->

<div>
  <table class="table table-striped table-bordered">
    <tr class="theader-style">
      <% if time == 5 %>
        <td align=left width = "35%">资产负债比率(占总资产%)</td>
        <% m = static_data[0].reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>--</td>
        <% end %>
        <% static_data[0].reverse.each do |i| %>
          <td align=center width = "13%"><%= i[0..3] %></td>
        <% end %>
      <% elsif time == 10 %>
        <td align=left width = "30%">资产负债比率(占总资产%)</td>
        <% m = static_data[0].reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>--</td>
        <% end %>
        <% static_data[0].reverse.each do |i| %>
          <td align=center width = "7%"><%= i[0..3] %></td>
        <% end %>
      <% elsif time == 2 %>
        <td align=left width = "55%">资产负债比率(占总资产%)</td>
        <% m = static_data[0].reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>--</td>
        <% end %>
        <% static_data[0].reverse.each do |i| %>
          <td align=center width = "20%"><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-cash-and-cash-equivalents-ratio">
      <td align=left>现金与约当现金</td>
      <% m = static_data[1].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[1].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-receivables-ratio">
      <td align=left>应收账款</td>
      <% m = static_data[2].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[2].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-inventory-ratio">
      <td align=left>存货</td>
      <% m = static_data[3].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[3].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-current-assets-ratio">
      <td align=left>流动资产</td>
      <% m = static_data[4].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[4].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-total-assets">
      <td align=left>总资产</td>
      <% (1..m).each do |i| %>
        <td>100</td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-accounts-payable-ratio">
      <td align=left>应付账款</td>
      <% m = static_data[5].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[5].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-current-liabilities-ratio">
      <td align=left>流动负债</td>
      <% m = static_data[6].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[6].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-long-term-liability-ratio">
      <td align=left>长期负债</td>
      <% m = static_data[7].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[7].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-shareholders-equity-ratio">
      <td align=left>股东权益</td>
      <% m = static_data[8].reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>--</td>
      <% end %>
      <% static_data[8].reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-liabilities-and-owners-equity">
      <td align=left>总负债+股东权益</td>
      <% (1..m).each do |i| %>
        <td>100</td>
      <% end %>
    </tr>

  </table>
</div>

<% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
  <%= render :partial => "main_finance_table_modal_1", :locals => { :static_data => static_data, :time => time, :stock => @stock } %>
<% end %>
