<div>
  <table class="table table-striped table-bordered">

    <tr class="theader-style" data-toggle="modal" data-target="#momal-dividend-date">
      <% if time == 5 %>
        <td class="theader-style" width = "10%">类别</td>
        <td align=left width = "25%">红利发放日</td>
        <% m = @stock.dividend_date(time).reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>无统计</td>
        <% end %>
        <% @stock.dividend_date(time).reverse.each do |i| %>
          <td align=center width = "13%"><%= i %></td>
        <% end %>
      <% elsif time == 10 %>
        <td class="theader-style" width = "8%">类别</td>
        <td align=left width = "22%">红利发放日</td>
        <% m = @stock.dividend_date(time).reverse.size %>
        <% (1..time - m).each do |i| %>
          <td align=center>无统计</td>
        <% end %>
        <% @stock.dividend_date(time).reverse.each do |i| %>
          <td align=center width = "7%"><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-dividend-amount">
      <% if time != 2 %>
        <td class="theader-style" rowspan="3">分红水平</td>
      <% end %>
      <td align=left>每10股 分红(元)</td>
      <% m = @stock.dividend_amount(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.dividend_amount(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

    <tr data-toggle="modal" data-target="#momal-dividend-rate">
      <td align=left>分红率(%)</td>
      <% m = @stock.dividend_rate(time).reverse.size %>
      <% (1..time - m).each do |i| %>
        <td align=center>无统计</td>
      <% end %>
      <% @stock.dividend_rate(time).reverse.each do |i| %>
        <td><%= i %></td>
      <% end %>
    </tr>

  </table>
</div>

<% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
  <%= render :partial => "main_finance_table_modal_4", :locals => { :time => time } %>
<% end %>
