<div>
  <table class="table table-striped table-bordered">
    <tr>
      <th width = "10%">类别</th>
      <th width = "25%">财务比率</th>
      <% @stock.quarter_years[0..4].reverse.each do |i| %>
        <th width = "13%"><%= i[0..3] %></th>
      <% end %>
    </tr>
    <tr>
      <th rowspan="2">财务结构</th>
      <td>负债占资产比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>长期资金占不动产/厂房及设备比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="2">偿债能力</th>
      <td>流动比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>速动比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="6">经营能力</th>
      <td>应收款项周转率(次)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>平均收现日数</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>存货周转率(次)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>平均销货日数(平均在库天数)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>不动产/厂房及设备周转率(次)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>总资产周转率(次)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="9">获利能力</th>
      <td>资产报酬率(%) RoA</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>权益报酬率(%) RoE</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>税前纯益占实收资本比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>营业毛利率(%) ①</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>营业利益率(%) ②</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>经营安全边际率(%) = ② / ①</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>纯益率(%) = 净利率</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>每股盈余(元)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>税后净利(百万元)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th rowspan="3">现金流量</th>
      <td>现金流量比率(%)</td>
      <% if @stock.industry == "金融业" %>
        <td colspan=5 align=center>金融业无此项统计</td>
      <% elsif @stock.operating_cash_flow_ratio.count == 0 %>
        <td colspan=5 align=center>无财报</td>
      <% elsif @stock.operating_cash_flow_ratio.count == 1 %>
        <td colspan=4 align=center>无财报</td>
        <% @stock.operating_cash_flow_ratio.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.count == 2 %>
        <td colspan=3 align=center>无财报</td>
        <% @stock.operating_cash_flow_ratio.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.count == 3 %>
        <td colspan=2 align=center>无财报</td>
        <% @stock.operating_cash_flow_ratio.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.count == 4 %>
        <td colspan=1 align=center>无财报</td>
        <% @stock.operating_cash_flow_ratio.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.operating_cash_flow_ratio.count == 5 %>
        <% @stock.operating_cash_flow_ratio.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>现金流量允当比率(%)</td>
      <% if @stock.cash_flow_adequancy_ratio[0..4].count == 0 %>
        <td colspan=5 align=center>无财报</td>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 1 %>
        <td colspan=4 align=center>无财报</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 2 %>
        <td colspan=3 align=center>无财报</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 3 %>
        <td colspan=2 align=center>无财报</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 4 %>
        <td colspan=1 align=center>无财报</td>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% elsif @stock.cash_flow_adequancy_ratio[0..4].count == 5 %>
        <% @stock.cash_flow_adequancy_ratio[0..4].reverse.each do |i| %>
          <td><%= i %></td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>现金再投资比率(%)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
