<!-- 负债占资产比率(%) -->
<div class="modal fade" id="momal-debt-asset-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">负债占资产比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[20] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-1、负债占资产比率(%)</h4>
        <blockquote>
          <p>负债占总资产比率 = 负债 / 资产</p>
          <p>前面我们知道，资产 = 负债 + 股东权益。就是说企业的资产的获取，不是来源于负债，就是来源于股东出资。</p>
        </blockquote>
        <p><strong>理想的财务结构是：五年内保持平稳，不大起大落。最好能负债稳中有降，股东权益稳中有升。</strong></p>
        <ul>
          <li>由于资金成本的存在，拿银行的钱资金成本较低，拿股东的钱资金成本较贵。（因为获利之后股东要求的分红，往往会远远高于银行利息）</li>
          <p>所以，如房地产业等需要在产品生产阶段投入巨额资金的行业，负债占比就相对较大。</p>
          <li>但从银行借钱多少，并不能反应出企业未来的情况；而股东的投入多少，更能说明对企业前景是否看好。</li>
        </ul>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/22"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 长期负债占不动产/厂房及设备比率(%) -->
<div class="modal fade" id="momal-long-term-funds-for-fixed-assets-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">长期资金占不动产/厂房及设备比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[21] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-2、长期资金占不动产/厂房及设备比率(%)</h4>
        <blockquote>
          <p>长期资金占不动产、厂房及设备比率 = (长期负债 + 股东权益) / 不动产、厂房及设备</p>
          <p>前面我们知道，经营稳健的企业，在财务结构上要做到”以长支厂”，不可把短期负债用作长远发展支出，否则极易出现企业财务危机。</p>
        </blockquote>
        <p><strong>长期资金占不动产、厂房及设备比率 > 100% 比较好 ：</strong></p>
        <ul>
          <li>长期资金占不动产、厂房及设备比率 > 100%，说明长期资金基本能够覆盖长期支持，没有出现“以短支长”的错误。</li>
          <li>长期资金占不动产、厂房及设备比率 < 100%，说明这家企业可能存在“以短支长”的情况，长期这样下去，企业将面临财务危机。</li>
        </ul>
        <br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/22"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 流动比率(%) -->
<div class="modal fade" id="momal-current-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">流动比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[22] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-3、流动比率(%)</h4>
        <blockquote>
          <p>流动比率 = 流动资产 / 流动负债</p>
          <p>一家企业面临的最严重偿债压力，无疑来自于流动负债（一年内到期的负债），因为要偿还，必须要动用公司的流动资产（一年内可变现的资产）</p>
          <p>企业的流动资产主要包括“现金与约当现金、应收账款、存货”，如果这些资产能否覆盖流动负债，那说明公司基本上有能力偿还流动负债。</p>
        </blockquote>
        <p><strong>流动比率 > 200% 比较好 ：</strong></p>
        <ul>
          <li>理论上，虽说如果流动比率 = 100%，企业基本上具有偿还短期负债的能力，但是，除了现金与约当现金外，应收账款、存货往往会出现不足值得情况。</li>
          <li>因为“应收账款”会出现收不回来变成呆账的风险；存货会有卖不出去而贬值的风险。只有现金是更可靠的。</li>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/23"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 速动比率(%) -->
<div class="modal fade" id="momal-quick-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">速动比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[23] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-4、速动比率(%)</h4>
        <blockquote>
          <p>速动比率 = （流动资产 - 存货） / 流动负债</p>
          <p>速度比率的作用，就是用来弥补流动比率指标的不足。</p>
        </blockquote>
        <p><strong>如果不是收现金行业，流动比率 > 150% 比较好 ：</strong></p>
        <ul>
          <li>虽说如果速动比率 = 100%，企业就能偿还所有的短期负债，但企业的现金并非只用于还债，还需要有相当的留存，以备不时之需。</li>
          <li>如果是产品生产周期长（平均销货日数 > 200天），同时又是收现金行业（平均收现日数 < 20 天），速动比率可 < 100%。</li>
          <p>如房地产页、酒业等</p>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/23"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 应收账款周转率(次) -->
<div class="modal fade" id="momal-accounts-receivable-turnover-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">应收账款周转率(次)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[9] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-5、应收账款周转率(次)</h4>
        <blockquote>
          <p>应收账款周转率 = 营业收入 / 应收账款</p>
          <p>应收账款周转率，是说明“应收账款"这个资产的利用率是多少？这个资产额度一年为公司做了几趟的生意？当然是越高越好。</p>
        </blockquote>
        <p><strong>应收账款周转率越高，经营效率越高 :</strong></p>
        <ul>
          <li>企业间的交易常采用“货到付款”的方式，这就存在收付款的时间差，快则十天半个月，慢着会拖欠数月半年之久。</li>
          <li>应收账款周转率越高，说明这家企业应收账款的催缴效率越高，能够越快收回欠付款。</li>
          <li>收款快了，也就越有利于再生成，能在相通的时间内比其他竞争者多做几轮生意。</li>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/18"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 平均收现日数 -->
<div class="modal fade" id="momal-accounts-receivable-turnover-ratio-360" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">平均收现日数</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[9].map!{ |x| (360 / x).round(1) } %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-6、平均收现日数</h4>
        <blockquote>
          <p>平均收现日数 = 360 / 应收账款周转率</p>
          <p>平均收现日数，是用应收账款周转率推估出来的概念，说明企业每次收账平均需要几天？</p>
          <p>平均收现日数越短越好，表明企业的追款能力很强，在交易中掌握有主动权。</p>
        </blockquote>
        <p><strong>收现金企业（平均收现日数 < 20天）:</strong></p>
        <ul>
          <li>如果一家企业的平均收现日数不超过20天，几乎可以把它认为是一家“当面结款”的收现金企业。</li>
          <li>收现金意味着不赊账，随时有稳定的资金流入，企业缺钱的时间很少，资金储备可以随时得到补充，不存在资金周转空档期。</li>
          <li>收现金也意味着在交易中掌握有主导权，在同行竞争中处于领先地位，其股票更具投资价值。</li>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/18"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 存货周转率(次) -->
<div class="modal fade" id="momal-inventory-turnover-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">存货周转率(次)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[10] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-7、存货周转率(次)</h4>
        <blockquote>
          <p>存货周转率 = 营业成本 / 存货</p>
          <p>存货周转率，是说明“存货"这个资产的利用率是多少？这个资产额度一年为公司做了几趟的生意？当然是越高越好。</p>
        </blockquote>
        <p><strong>应收账款周转率越高，商品越畅销 :</strong></p>
        <ul>
          <li>企业生产出商品，都希望能早早卖出去，尽快回笼资金，再次生产。</li>
          <li>卖的越快，周转的次数越多，资金的使用效率就越高，企业的经营能力就更强。</li>
          <li>不同行业由于生产周期不同，存货周转率也会有所不同：<br>
            (例如商超、机场机票、电力等行业，产品的生产周期快，并具有一定的时效性，存货周转率就会很高) <br>
            (相反如酒类、房地产、国防等行业，产品生产周期很长，存货周转率就相对较低) <br>
            所以，存货周转率需要在相同行业间进行比较，才有意义。
          </li>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/19"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 平均销货日数(平均在库天数) -->
<div class="modal fade" id="momal-inventory-turnover-ratio-360" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">平均销货日数(平均在库天数)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[10].map!{ |x| (360 / x).round(1) } %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-8、平均销货日数(平均在库天数)</h4>
        <blockquote>
          <p>平均销货日数 = 360 / 存货周转率</p>
          <p>平均销货日数，是用存货周转率率推估出来的概念，说明产品从生产到售出，平均需要几天？</p>
          <p>不同行业由于产品不同，生产周期也会不同，因此要在相同行业间进行比较，才有意义。</p>
        </blockquote>
        <p><strong>平均销货日数越短越好 :</strong></p>
        <ul>
          <li>平均销货日数越短，说明企业的产品越畅销。</li>
          <li>平均销货日数越短，卖得快，资金回笼得也就越快，利于再次进行生产。</li>
        </ul>
        <br>
        <i>* 注: 银行、保险、证券 等金融行业, 由于会计统计的特殊性, 不适用于此方法对资产负债进行分析。</i>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/19"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 不动产/厂房及设备周转率(次) -->
<div class="modal fade" id="momal-fixed-asset-turnover-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">不动产/厂房及设备周转率(次)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[11] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-9、不动产/厂房及设备周转率(次)</h4>
        <blockquote>
          <p>不动产/厂房及设备周转率 = 营业收入 / (固定资产 + 在建工程 + 工程物资) </p>
          <p>不动产/厂房及设备周转率，是说明“固定资产\在建工程\工程物资"这个资产的利用率如何？这个资产额度一年为公司做了几趟的生意？当然是越高越好。</p>
        </blockquote>
        <p>固定资产\在建工程\工程物资，往往代表了一家企业的长期投入规模的大小。</p>
        <p>不动产/厂房及设备周转率越高，说明这些生产资料的利用效率越高。</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/19"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 总资产周转率(次) -->
<div class="modal fade" id="momal-total-asset-turnover-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">总资产周转率(次)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[12] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-10、总资产周转率(次)</h4>
        <blockquote>
          <p>总资产周转率 = 营业收入 / 总资产</p>
          <p>总资产意为着对企业的全部投入。投入那么多钱，每年能换回多少营收？从这个指标就能看出来。</p>
          <p>如果总资产周转率 > 1，说明企业这一年的应收，可以再盖一家企业了（因为它应收赚到的钱，和企业的总资产一样多）。</p>
        </blockquote>
        <p><strong>是否是资金密集型行业 :</strong></p>
        <ul>
          <li>总资产周转率 > 1，说明每年企业营收都大于总资产，这往往是一些商品流通行业，例如零售、餐饮、衣帽时尚品等。这样的行业商品的快速流动，才能创造出利润。</li>
          <li>总资产周转率 < 1，说明每年企业营收都小于总资产，这类企业一般属于前期需要巨额投资的资金密集型行业，例如钢铁、港口、机场等，都属于“烧钱”的行业。</li>
        </ul>
        <p><strong>资金密集型行业（现金与约当现金最好等于25%）</strong></p>
        <p>如果一家企业的总资产周转率小于1，又不属于收现金的企业，那么它的现金与约当现金占总资产的比率，最好不要低于25%。</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/19"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 股东权益报酬率(%) RoE -->
<div class="modal fade" id="momal-roe-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">股东权益报酬率(%) RoE</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[13] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-11、股东权益报酬率(%) RoE</h4>
        <blockquote>
          <p>股东报权益酬率（RoE） = 净利 / 股东权益</p>
          <p>股东报权益酬率，是指公司赚到的净利润，对应于股东所出的钱，所占的比率是多少？当然是越多越好。</p>
          <p>RoE 是巴菲特最看重的指标之一，同时也是近年来，基金等大型投资机构做投资选择时，最重要的判断依据之一。所以，要成为专业投资者，必须掌握RoE。</p>
        </blockquote>
        <p>对股东来说，总是希望尽可能少的投入换来尽可能多的回报，所以从投资的立场来说，这是个非常重要的指标。</p>
        <p><strong>股东报权益酬率（不低于10%，20%以上最好）:</strong></p>
        <ul>
          <li>五年内的 RoE 保持基本平稳，不大起大落。</li>
          <li>RoE > 20% ：具备极佳的投资价值，这类企业的各类指标，应该也是十分出色的。</li>
          <li>RoE < 10% ：不值得投资，因为投资收益低于资金成本。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/21"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 营业毛利率(%) -->
<div class="modal fade" id="momal-operating-margin-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">营业毛利率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[14] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-12、营业毛利率(%)</h4>
        <blockquote>
          <p>毛利 =（营业收入 - 营业成本）</p>
          <p>毛利率 = 毛利 / 营业收入</p>
          <p>毛利率通俗的说就是——这门生意如何？赚钱吗？</p>
        </blockquote>
        <p>不同行业间的毛利率差别非常大。（例如白酒这类品牌溢价很高的商品。或是高新技术这类智慧附加值很高的商品，毛利率就很高；而钢铁、农产品这类普遍产能过剩的传统行业，毛利率就相对较低。）</p>
        <p><strong>投资尽可能选择高毛利率的行业。</strong></p>
        <p><strong>观察企业近几年的毛利率是否保持平稳，而不是昙花一现。</strong></p><br>
        <p><strong>毛利率高，行业前景的预期就越好。</strong></p>
        <ul>
          <li>毛利率高，除了独特的品牌优势外，也可能是开启了一个新兴的蓝海市场（竞争中较少）；或准入门槛极高（如中国联通、银行等需要特许经营的行业）。总体上，毛利率高，说明这个行业前景一片大好。</li>
          <li>毛利率低，意味着为了生存大家不得不削价竞争，市场竞争激烈。为了维持市场地位，毛利率低的企业必须要通过扩大规模、精细分工、联合采购等措施降低成本，维持企业竞争力。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/20"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 营业利益率(%) -->
<div class="modal fade" id="momal-business-profitability-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">营业利益率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[15] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-13、营业利益率(%)</h4>
        <blockquote>
          <p>营业利益 =（营业收入 - 营业成本 - 营业费用）</p>
          <p>营业利益率 = 营业利益 / 营业收入</p>
        </blockquote>
        <p>毛利率高固然好，但是如果这个公司的开销也大，结果反而是没赚到钱。</p>
        <p><strong>在毛利率平稳的前提下，营业利益率尽量保持平稳。</strong></p>
        <p><strong>如果营业利益率稳中有升，说明企业成本费用控制水平在不断加强，愈加成熟。</strong></p>
        <ul>
          <li>营业利益率，能够说明一家公司在减去费用成本（经营过程中发生的研发费用、销售费用、管理费用、财务费用等）之后，是否还能赚到钱。</li>
          <li>营业利益率越接近毛利率，说明企业越善于控制成本，越能守住赚到的钱。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/20"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 经营安全边际率(%) -->
<div class="modal fade" id="momal-operating-margin-of-safety-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">经营安全边际率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[16] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-14、经营安全边际率(%)</h4>
        <blockquote>
          <p>经营安全边际率 = 营业利益率 / 营业毛利率</p>
          <p>可以看出，经营安全边际率，就是赚到的钱究竟能拿得住多少？代表公司的获利空间是否宽裕？</p>
        </blockquote>
        <p>经营安全边际率越高，代表企业有宽裕的获利空间，来抵御经济波动、价格竞争等影响。</p>
        <p><strong>经验表明，经营安全边际率>60%，是选股价值投资的基本值。</strong></p>
        <ul>
          <li>经营安全边际率 > 80% ,说明这家企业很有规模，并善于控制成本，获利能力极强，非常值得投资。</li>
          <li>经营安全边际率 > 60%，说明这家企业刚进入某个新领域，还未达规模，在品牌推广、产品研发等方面投入较大，同时还能有较好的获利空间。</li>
          <li>经营安全边际率 < 60%，说明这家公司为了维持生意，需要付出极大的费用支出，获利空间有限。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/20"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 纯益率(%) = 净利率 -->
<div class="modal fade" id="momal-net-profit-margin-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">纯益率(%) = 净利率</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[17] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-15、净利率(%) = 纯益率</h4>
        <blockquote>
          <p>净利：指企业在利益率的基础上，再扣除其他费用、税负等因素后，最终赚到手多少钱。</p>
          <p>净利率（纯益率） = 净利 / 营业收入</p>
        </blockquote>
        <p><strong>优秀企业的净利率尽量保持平稳，最好稳中有升。</strong></p>
        <p><strong>由于资金成本的存在，净利率要大于10%，才能做到基本的损益平衡，它的股票才有投资价值。</strong></p>
        <ul>
          <li>资金成本来自两个方面，一是通货膨胀带来的贬值；二是借贷利率的机会成本。</li>
          <li>如果企业净利率不足10%，不是赚的少，而是相当于没赚到钱，甚至亏钱。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/21"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 每股盈余(元) -->
<div class="modal fade" id="momal-earnings-per-share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">每股盈余(元)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[18] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-16、每股盈余(元)</h4>
        <blockquote>
          <p>每股盈余（EPS） = 净利 / 总股本</p>
          <p>每股盈余的作用，是告诉投资者，如果将公司赚到的净利润，换算成股份，每一股能够为股东赚多少钱？当然越多越好。</p>
        </blockquote>
        <p><strong>每股盈余最好能逐年上升。</strong></p>
        <ul>
          <li>每股盈余是一家企业持续增长并逐年赚钱最直观的体现之一。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/21"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 税后净利(百万元) -->
<div class="modal fade" id="momal-after-tax-profit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">税后净利(百万元)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[19] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-17、税后净利(百万元)</h4>
        <blockquote>
          <p>税后净利，就是企业可以赚了多少钱。</p>
          <p>财务报表（损益表）中，税后净利是预估的结果，”预估可以赚了多少钱”并不等于“实际已赚到多少钱”</p>
        </blockquote>
        <p><strong>税后净利要与营业活动现金流量结合使用，已验证实际赚的钱与预期是否一致。</strong></p>
        <ul>
          <li>营业活动现金流量和税后净利大于0，且平稳增长。</li>
          <li>营业活动现金流量和净利润的变化趋势相同，不南辕北辙。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/28"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 现金流量比率(%) -->
<div class="modal fade" id="momal-operating-cash-flow-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">现金流量比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[27] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-18、现金流量比率(%)</h4>
        <blockquote>
          <p>现金流量比率 = 营业活动现金流量 / 流动负债</p>
          <p>表明企业主营业务所带来的现金流入，是否足以偿还所欠的流动负债？</p>
        </blockquote>
        <p><strong>现金流量比率 >100% 比较好 :</strong></p>
        <ul>
          <li>大于100%：说明这家公司真正赚近来的现金，足够偿还短期外债；</li>
          <li>大于100%：说明公司赚钱能力不错，对外短期欠债较少；因为财务管理得当，属于银行的优质客户。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/15"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 现金流量允当比率(%) -->
<div class="modal fade" id="momal-cash-flow-adequancy-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">现金流量允当比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[28] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-19、现金流量允当比率(%)</h4>
        <blockquote>
          <p>现金流量允当比率 = 最近5年 营业活动现金流量 / 最近5年（资本支出 + 存货增加额 + 现金股利）</p>
          <p>表明企业最近5年主营业务所带来的现金流入，是否足以应付这5年为了企业发展所需的各种开支？</p>
        </blockquote>
        <p><strong>现金流量允当比率 >100% 比较好 :</strong></p>
        <ul>
          <li>大于100%：说明近5公司赚的现金，足以应付各方面支出，可以自给自足，不需要对外借债也能过得很好。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/15"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 现金再投资比率(%) -->
<div class="modal fade" id="momal-cash-re-investment-ratio" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">现金再投资比率(%)</h5>
      </div>
      <div class="modal-body">
        <% m = static_data[sd1] %>
        <%= line_chart(
          stock.modal_data(time, m).reverse.each do |i|
          end
        ) %>
        <br>
        <h4>A2-20、现金再投资比率(%)</h4>
        <blockquote>
          <p>现金再投资比率 = 营业活动现金流量 - 现金股利 / 固定资产毛额 + 长期投资 + 其他资产 + 营运资金</p>
          <p>表明企业主营业务赚来的钱，扣除给股东的股利之后，剩下的钱，可以再投资于公司大项目资产的能力。</p>
        </blockquote>
        <p><strong>现金再投资比率 >10% 比较好 :</strong></p>
        <ul>
          <li>大于10%：说明公司留下的现金，几乎大于总资产的10%，如遇到经济不景气时，这部分现金有助于公司渡过难关。</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default pull-left" target="_blank" href="https://www.holdle.com/courses/looking-for-potential-by-financial-data/posts/15"> 去看相应课程 </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
