<br><br><br>

<% @stock_notes.each do |note| %>
<div class="note-box">
  <!-- 消息栏标头 -->
  <div class="note-box-side">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-<%= note.id %>" aria-expanded="false">
            <!-- <span class="sr-only">Toggle navigation</span> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img class="img-circle" src="http://placehold.it/45x45&text=No 40x40" alt="..."></a>
          <a class="navbar-brand" href="#"><%= note.user.email %></a>
        </div>

        <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-<%= note.id %>" >
          <ul class="nav navbar-nav">
            <li class="active"><a><%= note.level %><span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="modal-note-edit" data-toggle="modal" data-target="#momal-note-edit-<%= note.id %>">
                编辑
              </a>
            </li>
            <li>
              <% if current_user %>
                <% if note.find_like(current_user) %>
                  <%= link_to "赞 (#{note.likes.size})", unlike_stock_note_path(@stock, note), :method => :post %>
                <% else %>
                  <%= link_to "赞 (#{note.likes.size})", like_stock_note_path(@stock, note), :method => :post %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- 信息栏内容 -->
  <div class="note-box-content">
    <h3><%= note.title %></h3>
    <%= note.description %>
  </div>
</div>
<%= render :partial => "note_modal_edit", :locals => { :note => note } %>
<% end %>
