<div class="wrapper">

  <!-- 股票信息 -->
  <div class="stock-info">
    <!-- <div class="stock-title"> -->                               <!-- 在 md 以下时左右布局 -->
    <div class="col-lg-12 col-md-12 col-sm-12 stock-title">        <!-- 在 md 以下时展开布局 -->
      <h1>
        <%= @stock.name %>
        <span> (<%= @stock.easy_symbol %>)</span>
      </h1>
      <h5>
        <%= @stock.industry %> - <%= @stock.regional %> - <a class="btn btn-xs btn-default" href= "http://<%= @stock.company_url %>" target="_blank">官网: <%= @stock.company_url %></a>
      </h5>

      <div class="main_business">
        <p title="<%= @stock.main_business %>"><span>主营业务: </span><%= @stock.main_business %></p>
      </div>

      <div class="to-finance-btn">
        <%= link_to("返回 >>", stock_path(@stock), :class => "btn btn-sm btn-default") %>
      </div>
    </div>


    <div class="col-lg-12 row">
      <!-- 10年信息数据 -->
      <!-- <div class="table-left"> -->
      <div class="col-lg-9 col-md-12">
        <% if @stock.zcb && @stock.zcb != "" %>
          <%= render :partial => "main_finance_table_1", :locals => { :time => @time_years } %>
          <%= render :partial => "main_finance_table_3", :locals => { :time => @time_years } %>
          <%= render :partial => "main_finance_table_2", :locals => { :time => @time_years } %>
        <% else %>
          <p>暂无数据</p>
        <% end %>
      </div>

      <!-- 最近季度与去年同季度 -->
      <!-- <div class="table-left"> -->
      <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
        <% if @stock.zcb && @stock.zcb != "" %>
          <%= render :partial => "main_finance_table_1", :locals => { :time => @time_recent } %>
          <%= render :partial => "main_finance_table_3", :locals => { :time => @time_recent } %>
          <%= render :partial => "main_finance_table_2", :locals => { :time => @time_recent } %>
        <% else %>
          <p>暂无数据</p>
        <% end %>
      </div>
    </div>

  </div>



</div>
