<div class="wrapper">

  <!-- 所有行业列表 -->
  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs industry-list">

    <!-- 需要分析的行业 title -->
    <div class="industry-title">
      <%= @industry %> - 分析
    </div>

    <!-- 其他行业 - 可点击选择 -->
    <div class="industry-li">
      <ul class="list-unstyled">
        <% @all_industrys.each do |i| %>
          <% if i != nil %>
            <%= link_to industry_stocks_path(:order => i) do %>
              <li><%= i %><span class="pull-right"><%= Stock.where(:industry => i).size %></span></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>


  <!-- 行业指标排序 -->
  <div class="col-lg-10 col-md-10 col-ms-12 col-xs-12">
    <%= render :partial => "industry_table" %>
  </div>

</div>
