<div class="wrapper">

  <!-- 同类行业列表栏 会员可见-->
  <% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
    <div class="col-lg-2 hidden-md hidden-sm hidden-xs industry-list">
      <%= render "industry_order" %>
    </div>
  <% end %>


  <!-- 左表：股票信息+资产负债信息 分析 -->
  <div class="stock-info col-lg-5 col-md-12">

      <!-- 股票信息 -->
      <!-- <div class="stock-title"> -->                               <!-- 在 md 以下时左右布局 -->
      <div class="stock-title col-md-12 col-sm-12 row">        <!-- 在 md 以下时展开布局 -->
        <h1>
          <%= @stock.name %>
          <span> (<%= @stock.easy_symbol %>)</span>
          <!-- note 编辑 modal 页面 -->
          <span class="pull-right star-stock" data-toggle="modal" data-target="#momal-note-new">
            <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
          </span>
        </h1>
        <h5>
          <%= @stock.industry %> - <%= @stock.regional %> - <a class="btn btn-xs btn-default" href= "http://<%= @stock.company_url %>" target="_blank">官网: <%= @stock.company_url %></a>
        </h5>

        <div class="main_business">
          <p title="<%= @stock.main_business %>"><span>主营业务: </span><%= @stock.main_business %></p>
        </div>

        <!-- 近十年财报分析 & 行业统计分析 只有会员可见 -->
        <% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
          <div class="to-finance-btn">
            <span>
              <%= link_to("近10年财报分析 >>", analyza_stocks_path(@stock), :class => "btn btn-sm btn-default") %>
            </span>
            <span>
              <%= link_to("行业统计分析 >>", industry_stocks_path(:order => @stock.industry), :class => "btn btn-sm btn-default") %>
            </span>
          </div>
        <% end %>

      </div>

      <!-- 资产负债信息 -->
      <!-- <div class="table-left"> -->                                 <!-- 在 md 以下时左右布局 -->
      <div class="table-left col-md-12 col-sm-12 row">          <!-- 在 md 以下时展开布局 -->
        <% if @stock.zcb && @stock.zcb != "" %>                 <!-- 如果存在数据. 并且数据不为空时 -->
          <%= render :partial => "main_finance_table_1", :locals => { :time => @time } %>
          <%= render :partial => "main_finance_table_3", :locals => { :time => @time } %>
        <% else %>
          <p>暂无数据</p>
        <% end %>
      </div>

    </div>

    <!-- 财务结构+偿债能力+经营能力+获利能力+现金流量 分析 -->
    <div class="table-right col-lg-5 col-md-12">
      <% if @stock.zcb && @stock.zcb != "" %>                   <!-- 如果存在数据. 并且数据不为空时 -->
        <%= render :partial => "main_finance_table_2", :locals => { :time => @time } %>
      <% else %>
        <p>暂无数据</p>
      <% end %>
    </div>


</div>


<!-- 用户分析部分 -->
<div class="col-lg-8 col-lg-offset-2">
  <%= render :partial => "//notes/note"%>
</div>

<%= render :partial => "//notes/note_modal_new"%>

<!-- 自定义 title -->
<% content_for :title do %>
  <%= @stock.name %>(<%= @stock.easy_symbol %>) -
<% end %>
