<a data-toggle="modal" data-target="#momal-user-edit-<%= user.friendly_id %>">
  <!-- 头像 avatar -->
  <div class="user-avatar">
    <% if user.avatar.present? %>
      <%= image_tag(user.avatar, :class => "img-responsive thumbnail") %>
    <% else %>
      <%= image_tag("https://i.loli.net/2018/10/06/5bb7978180537.jpg", :class => "img-responsive thumbnail") %>
    <% end %>
  </div>
</a>

<!-- 关注 / 取消关注  当前用户界面是用户本人时不可见 -->
<% if current_user && current_user != user %>
  <% if current_user.attentions.where( :my_attention => user.id ).blank? %>
    <%= link_to("关注", fan_user_path, :method => :post, :class => "btn btn-block bg-success btn-xs") %>
  <% else %>
    <%= link_to("取消关注", un_fan_user_path, :method => :delete, :class => "btn btn-block bg-danger btn-xs") %>
  <% end %>
<% end %>

<!-- <a data-toggle="modal" data-target="#momal-user-edit-<%= user.id %>"> -->
  <!-- 用户名 username -->
  <div>
    <h4>
      <%= user.username.split("_")[0] %>

      <!-- 会员显示 -->
      <span class="pull-right">
        <% if user.role == "member" %>
          <% if current_user && current_user.role == "admin" %>
            <% if user.nper == 99 %>
              <a id="user-role" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="永久会员">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </a>
            <% else %>
            <a id="user-role"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="会员截止: <%= user.end_time.strftime("%Y/%m/%d") %>">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
            <% end %>
          <% elsif current_user && current_user == user %>
            <a id="user-role"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="永久会员">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
          <% elsif %>
            <a id="user-role"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="会员">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
          <% end %>
        <% elsif user.role == "admin" %>
          <a id="user-role"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="站长">
            <i class="fa fa-user-secret" aria-hidden="true"></i>
          </a>
        <% end %>
      </span>

    </h4>
  </div>
<!-- </a> -->


<!-- 判断是否是用户本人, ture 则课编辑修改 -->
<% if current_user && user == current_user %>
  <%= render :partial => "user_modal_edit", :locals => { :user => user } %>
<% end %>

<!-- 简介 motto -->
<br>
<div>
  <%= user.motto %>
</div>
<hr>

<!-- 我的论坛发布 -->


<!-- 登录账号和密码 motto -->
<% if (current_user && user == current_user) || (current_user && current_user.role == "admin") %>
  <div  class="sign-in-box">
    <p>手机登录账号：</p>
    <a data-toggle="modal" data-target="#momal-user-password-edit">
      <span><%= user.sign_id %></span>
    </a>
  </div>
  <hr>
<%= render :partial => "user_modal_password_edit", :locals => { :user => user } %>
<% end %>

<!-- 收藏笔记 -->
<% if !@unl_1.blank? || !@unl_2.blank? %>
  <h4>等待入场
    <span class="badge pull-right"><%= @size_12 %></span>
  </h4>
  <ul class="list-unstyled">
    <!-- A股部分 -->
    <% @unl_1.each do |stock| %>
      <%= link_to stock_path(stock) do %>
        <li><%= stock.easy_symbol %> - <%= stock.name %></li>
      <% end %>
    <% end %>
    <!-- 美股部分 -->
    <% @unl_2.each do |us_stock| %>
      <%= link_to us_stock_path(us_stock) do %>
        <li><%= us_stock.symbol %> - <%= us_stock.cnname[0..10] %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<br>

<% if !@unl_3.blank? || !@unl_4.blank? %>
  <h4>近期关注
    <span class="badge pull-right"><%= @size_34 %></span>
  </h4>
  <ul class="list-unstyled">
    <!-- A股部分 -->
    <% @unl_3.each do |stock| %>
      <%= link_to stock_path(stock) do %>
        <li><%= stock.easy_symbol %> - <%= stock.name %></li>
      <% end %>
    <% end %>
    <!-- 美股部分 -->
    <% @unl_4.each do |us_stock| %>
      <%= link_to us_stock_path(us_stock) do %>
        <li><%= us_stock.symbol %> - <%= us_stock.cnname[0..10] %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<br>

<% if !@unl_5.blank? || !@unl_6.blank?  %>
  <h4>长期关注
    <span class="badge pull-right"><%= @size_56 %></span>
  </h4>
  <ul class="list-unstyled">
    <!-- A股部分 -->
    <% @unl_5.each do |stock| %>
      <%= link_to stock_path(stock) do %>
        <li><%= stock.easy_symbol %> - <%= stock.name %></li>
      <% end %>
    <% end %>
    <!-- 美股部分 -->
    <% @unl_6.each do |us_stock| %>
      <%= link_to us_stock_path(us_stock) do %>
        <li><%= us_stock.symbol %> - <%= us_stock.cnname[0..10] %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<hr>


<!-- vip 下拉弹出到期时间 -->
<script>
  $(function () {
    $('#user-role').popover()
  })
</script>
