<!-- 我的交易 trade -->
<div class="trade-box">

  <div class="trade-title">
    <h4>交易历史
      <span class="badge pull-right"><%= @trades.size %></span>
      <!-- 新增按钮 -->
      <% if current_user && current_user == @user %>
        <a class="" data-toggle="modal" data-target="#trade-new">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        </a>
        <%= render :partial => "trade_new_modal"%>
      <% end %>
    </h4>
  </div>
  <hr>

  <!-- 交易列表 -->
  <div class="trade-list-box">
    <% @trades.each do |trade| %>
      <%= render :partial => "//trades/trade_list", :locals => { :trade => trade }%>
    <% end %>
    <% @us_trades.each do |trade| %>
      <%= render :partial => "//us_trades/us_trade_list", :locals => { :trade => trade }%>
    <% end %>
  </div>


</div><br><br>

<!-- 我关注的 -->
<div class="relation-box">

  <div class="relation-title">
    <h4>我在看Ta<span class="badge pull-right"><%= @attentions.size %></span></h4>
  </div>
  <hr>

  <!-- 关注列表 -->
  <div class="relation-list">
    <% @attentions.each do |atention| %>
      <% u = User.find(atention.my_attention) %>
      <%= link_to user_path(u) do %>
        <%= image_tag(u.avatar, :class => "img-circle") %>
      <% end %>
    <% end %>
  </div>

</div><br><br>

<!-- 我的粉丝 -->
<div class="relation-box">

  <div class="relation-title">
    <h4>Fans<span class="badge pull-right"><%= @fans.size %></span></h4>
  </div>
  <hr>

  <!-- 关注列表 -->
  <div class="relation-list">
    <% @fans.each do |fan| %>
      <% u = User.find(fan.my_fans) %>
      <%= link_to user_path(u) do %>
        <span><%= image_tag(u.avatar, :class => "img-circle") %></span>
      <% end %>
    <% end %>
  </div>

</div><br><br>
