<!-- 我的交易 trade -->
<div class="relation-box">

  <div class="relation-title">
    <h4>交易历史
      <span class="badge pull-right"><%= @trade.size %></span>
      <!-- 新增按钮 -->
      <% if current_user && current_user == @user %>
        <span>+</span>
      <% end %>
    </h4>
  </div>
  <hr>

  <!-- 交易列表 -->


</div><br><br>

<!-- 我关注的 -->
<div class="relation-box">

  <div class="relation-title">
    <h4>我在看Ta<span class="badge pull-right"><%= @attentions.size %></span></h4>
  </div>
  <hr>

  <!-- 关注列表 -->
  <div class="relation-list">
    <% @attentions.each do |atention| %>
      <% u = User.find(atention.my_attention) %>
      <%= link_to user_path(u) do %>
        <%= image_tag(u.avatar, :class => "img-circle") %>
      <% end %>
    <% end %>
  </div>

</div><br><br>

<!-- 我的粉丝 -->
<div class="relation-box">

  <div class="relation-title">
    <h4>Fans<span class="badge pull-right"><%= @fans.size %></span></h4>
  </div>
  <hr>

  <!-- 关注列表 -->
  <div class="relation-list">
    <% @fans.each do |fan| %>
      <% u = User.find(fan.my_fans) %>
      <%= link_to user_path(u) do %>
        <span><%= image_tag(u.avatar, :class => "img-circle") %></span>
      <% end %>
    <% end %>
  </div>

</div><br><br>
