<!-- banner -->
<div class="jumbotron row" style="background-color: #222; border-radius: 0; margin-bottom: 0;">
  <br><br><br><br>
  <h1 class="text-center">股票 是将<strong>正确的价值观</strong>变现的最好<strong>工具</strong></h1>
  <br><br><br><br><br><br><br><br>
  <div class="slogan-logo">
    <p style="font-size: 18px;">HOLD LE 价值投资获利策略
      <!-- <i class="fa fa-chevron-down" aria-hidden="true"></i> -->
    </p>
  </div>
</div>

<!-- how to do -->
<div class="how-to-do row">
  <div class="y-sidebar hidden-xs"></div>

  <div class="slogan-info">
    <h2>
      如何稳定赚钱？
    </h2>
    <p>精准交易  寻找高概率机会  提高赢面</p>
  </div>

  <div class="x-sidebar hidden-xs"></div>
  <div class="y-sidebar-left hidden-xs"></div>
  <div class="y-sidebar-right hidden-xs"></div>

  <div class="col-sm-12">
    <div class="col-sm-6 img-info">
      <img class="img-responsive center-block" src="http://oqc041sze.bkt.clouddn.com/%E4%BC%81%E4%B8%9A.png" alt="">
      <h3>第一层概率：企业分析</h3>
      <p>用价格之外的之外的东西来获得概率的确定性</p>
    </div>
    <div class="col-sm-6 img-info">
      <img class="img-responsive center-block" src="http://oqc041sze.bkt.clouddn.com/%E4%BB%B7%E6%A0%BC.png" alt="">
      <h3>第二层概率：价格分析</h3>
      <p>用价格本身的运行模式来获得概率的确定性</p>
    </div>
  </div>

</div>


<div  class="the-results-slogan row">
  <h6>
    通过第一层概率，<strong>筛选</strong>可能长期上涨的个股和<strong>价值</strong>区间；
    <br>再通过第二层概率，分析价格<strong>波动规律</strong>，过滤掉震荡期，抓准<strong>上涨主波</strong>获利。
  </h6>
</div>


<!-- the-results -->
<div class="the-results row">
  <h2>你绝不会错过这些机会</h2>

  <div class="example col-lg-8 col-lg-offset-2 col-md-12 ">

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("600009") do %>
        <div class="example-box">
          <h3>上海机场 <span>- 600009</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-05-04</strong></p>
            <p>买入价格：<strong>35.5 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("600009").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("600009").stock_latest_price_and_PE[0].to_f - 35.5) / 35.5 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>2016年起，关注到上海机场五年中营收不断创新高，毛利高，盈利能力极强，且企业一直处于持续增长轨道中。股价大概率会增长。</p>
            <p>2017年1月开始，根据策略规则，股价出现回升，4月确认上涨主波即将开始，并在5月4日买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("300015") do %>
        <div class="example-box">
          <h3>爱尔眼科 <span>- 300015</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-11-03</strong></p>
            <p>买入价格：<strong>19.5 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("300015").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("300015").stock_latest_price_and_PE[0].to_f - 19.5) / 19.5 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>通过HOLD LE工具对比分析，爱尔眼科在医疗器械类股票中，业绩、盈利能力、经营能力，都很优异。股价长期上涨概率很大。</p>
            <p>根据策略规则，2017年10月起股价符合入场要求，并在11月3日在预估买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("600519") do %>
        <div class="example-box">
          <h3>贵州茅台 <span>- 600519</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2016-05-03</strong></p>
            <p>买入价格：<strong>245 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("600519").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("600519").stock_latest_price_and_PE[0].to_f - 245) / 245 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>贵州茅台的产品有很高的品牌溢价，使它成为毛利率极高、获利能力极强的企业，净利率长期保持50%左右。股价长期增长概率极大。</p>
            <p>2016年3月起，根据策略规则，进入交易准备期，5月3日时在预估买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("603288") do %>
        <div class="example-box">
          <h3>海天味业 <span>- 603288</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-05-15</strong></p>
            <p>买入价格：<strong>35 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("603288").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("603288").stock_latest_price_and_PE[0].to_f - 35) / 35 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>HOLD LE表分析可看出，在食品类企业中，海天味业在经营、获利能力等方面，均领先一筹，近五年中都在持续增长，极具价值。</p>
            <p>2017年4月，根据策略规则，进入交易准备期，5月15日时在预估买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("002415") do %>
        <div class="example-box">
          <h3>海康威视 <span>- 002415</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-03-07</strong></p>
            <p>买入价格：<strong>18.7 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("002415").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("002415").stock_latest_price_and_PE[0].to_f - 18.7) / 18.7 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>HOLD LE表分析可看出，在电子设备类企业中，海康威视近五年的毛利、净利水平极高，企业增长持续且迅速。股价大概率会长期增长。</p>
            <p>2017年1月，按照策略规则，价格有即将发力上涨的趋势，3月7日在买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to stock_path("002372") do %>
        <div class="example-box">
          <h3>伟星新材 <span>- 002372</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2016-07-27</strong></p>
            <p>买入价格：<strong>8.25 ￥(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= Stock.find_by_easy_symbol("002372").stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((Stock.find_by_easy_symbol("002372").stock_latest_price_and_PE[0].to_f - 8.25) / 8.25 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>通过HOLD LE的分析，伟星新材是建材类企业中经营效益、获利能力最强的企业之一，各指标呈持续上升趋势。股价大概率会长期增长。</p>
            <p>2016年6月，按照策略规则，进入交易准备期，7月27日时在预估买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to us_stock_path("AAPL") do %>
        <div class="example-box">
          <h3>苹果 <span>- AAPL</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-03-15</strong></p>
            <p>买入价格：<strong>137.8 $(复权)</strong></p>
            <p>当前价格：<strong style="color: red"><%= UsStock.find_by_easy_symbol("AAPL").us_stock_latest_price_and_PE[0] %> ￥</strong></p>
            <p>浮动盈亏：<strong style="color: red"><%= ((UsStock.find_by_easy_symbol("AAPL").us_stock_latest_price_and_PE[0].to_f - 137.8) / 137.8 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>苹果公司的股价在近十几年呈现长期上涨的趋势，从HOLD LE表中可以看出，苹果的获利能力及稳定、又强劲。股价长期看涨不看跌。</p>
            <p>2017年1月，按照策略规则，进入交易准备期，3月15日时价格符合入场条件，马上买进。</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <%= link_to us_stock_path("AAPL") do %>
        <div class="example-box">
          <h3>苹果 <span>- AAPL</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2014-05-19</strong></p>
            <p>买入价格：<strong>77.65 $(复权)</strong></p>
            <p>卖出时间：<strong>2015-07-09</strong></p>
            <p>卖出价格：<strong style="color: red">114.2 $(复权)</strong></p>
            <p>结算盈亏：<strong style="color: red"><%= ((114.2 - 77.65) / 77.65 * 100).round(1) %> %</strong></p>
          </div>
          <div class="example-description">
            <p>这是在2014-2015年间上涨主波出现时，用HOLD LE策略操作的获利情况。</p>
            <p>2014年5月19日的入场，2015年7月9日的出场，都是按照策略规则预先计划好的执行的。</p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- <div class="col-md-4 hidden-lg hidden-sm">
      <%= link_to stock_path(600009) do %>
        <div class="example-box">
          <h3>上海机场 <span>- 600009</span></h3>
          <div class="example-info">
            <p>买入时间：<strong>2017-04-08</strong></p>
            <p>买入价格：<strong>35 ￥</strong></p>
            <p>当前价格：<strong>54.22 ￥</strong></p>
            <p>浮动盈亏：<strong>54.97 %</strong></p>
          </div>
          <div class="example-description">
            <p>第一层：HOLD LE表分析后可知上海机场各项数据很优异，毛利高，盈利能力极强，五年中营收不断创新高，企业一直处于持续增长轨道中。</p>
            <p>第二层：2017年1月开始关注价格波动，4月确认大概率出现上涨主波，并在4月8日买点出现时买入进场。</p>
          </div>
        </div>
      <% end %>
    </div> -->

  </div>
</div>


<div  class="the-results-slogan row">
  <h6>
    <strong>概率思维</strong>，不仅是正确价值观的一部分，更是<strong>最强大的赚钱变现工具。</strong>
  </h6>
</div>


<!-- about -->
<div class="about row">
  <div class="about-holdle col-lg-8 col-lg-offset-2 col-md-12 ">

    <!-- about holdle -->
    <div class="col-md-6">
      <h2>HOLD LE 揭秘年收益30%的获利方法：</h2>
      <br>

      <div class="you-get-box col-xs-12 row">
        <div class="you-get-left col-sm-2 col-xs-3 row">
          <img src="http://oqc041sze.bkt.clouddn.com/%E9%80%89%E6%8B%A9" alt="">
        </div>
        <div class="you-get-right col-sm-10 col-xs-9">
          <strong> 快速精准选择投资对象 </strong>
          <p> - 如何筛选出高概率的价值股？ </p>
          <p> - 如何使用HOLD LE分析企业？ </p>
          <p> - 为什么用HOLD LE方法更快、更准确？ </p>
        </div>
      </div>

      <div class="you-get-box col-xs-12 row">
        <div class="you-get-left col-sm-2 col-xs-3 row">
          <img src="http://oqc041sze.bkt.clouddn.com/%E4%BA%A4%E6%98%93" alt="">
        </div>
        <div class="you-get-right col-sm-10 col-xs-9">
          <strong> 交易过程中的细节处理 </strong>
          <p> - 如何判断上涨的主波段？ </p>
          <p> - 具体的交易机会在哪里？ </p>
          <p> - 交易机会来临时如何买入？何时卖出？ </p>
        </div>
      </div>

      <div class="you-get-box col-xs-12 row">
        <div class="you-get-left col-sm-2 col-xs-3 row">
          <img src="http://oqc041sze.bkt.clouddn.com/%E6%8A%95%E8%B5%84%E8%A7%82" alt="">
        </div>
        <div class="you-get-right col-sm-10 col-xs-9">
          <strong> 正确的投资交易姿态 </strong>
          <p> - 判断正确很容易，难的是学会静静地等待。 </p>
          <p> - “复利”不是你所想的那样。 </p>
          <p> - 思考交易的时间，每天不要超过3分钟。 </p>
        </div>
      </div>

      <div class="you-get-box col-xs-12 row">
        <div class="you-get-left col-sm-2 col-xs-3 row">
          <img src="http://oqc041sze.bkt.clouddn.com/%E8%AF%BE%E7%A8%8B" alt="">
        </div>
        <div class="you-get-right col-sm-10 col-xs-9">
          <strong> 文章教程 + 视频直播课 </strong>
          <p> - 用大白话把交易方法说清楚。 </p>
          <p> - 不只是原理，还有详细的操作技巧。 </p>
          <p> - 定期视频直播课程、线下交流课程。 </p>
        </div>
      </div>

    </div>


    <!-- about author -->
    <div class="col-md-6">
      <h2>站长 / 作者：</h2>
      <br><br>
      <div class="row">
        <div class="auther-avatar col-sm-5">
          <img src="http://oqc041sze.bkt.clouddn.com/%E5%A4%B4%E5%83%8F%202.jpg" alt="" class="img-responsive thumbnail">
        </div>
        <div class="auther-info col-sm-7">
          <h4>Emile Su</h4>
          <br>
          <p> - 8年股票、外汇、区块链货币交易史 </p>
          <p> - 程序员\设计师、文案作者，创业合伙人 </p>
          <p> - 有过一段不太光彩的P2P从业经历 </p>
          <p> - 德扑、lol、绝地求生游戏高段位玩家 </p>
        </div>
      </div>
      <div class="auther-description col-sm-12">
        <p>毕业至今，我几乎不间断的做了<strong>八年交易</strong>（股票、外汇保证金等等）。<strong>而前面的六年</strong>，基本是<strong>亏多赢少</strong>，始终跨不过坎。</p>
        <br>
        <p><strong>——“如何判断正确？”</strong></p><p>和所有人一样，我花所有时间和精力来学习研究这个问题，并用钱去验证每一个想法。
          如果得不到满意的结果，就会认为是哪里出错了？是不是判断还不够精准？
        </p>
        <br>
        <p>但恰恰相反，这几年我能够持续稳定赚钱，并不是因为彻底解决了“如何判断正确？”这个问题，而是对交易这件事情在认知上的完全转变。</p>
        <p>我可以告诉你，<strong>判断正确有多简单，以至于没有复杂的技巧可言；在交易中更困难的是学会静静地等待。</strong>这些我都将<strong>毫无保留</strong>的告诉你。</p>
        <br>
        <p>不久之后，你将可以牢牢抓住每次牛市机会，也会远远地避开熊市风险。你已经掌握了一项或许会<strong>改变后半生的超级技能。</strong></p>
      </div>
    </div>

  </div>
</div>


<div  class="the-results-slogan row">
  <h6>
    <strong>交易本身是最公平的</strong>，不论贫富贵贱，都是完全一样的价格。
    <br>唯一不公平的，是<strong>交易者观念与认知的差距</strong>，导致有的获利、有的亏损。
  </h6>
</div>


<!-- QA -->
<!-- about -->
<div class="qa row">
  <div class="qa-holdle col-lg-8 col-lg-offset-2 col-md-12">

    <!-- about holdle -->
    <div class="col-md-12 row">
      <h2 class="text-center">Q & A</h2>

      <div class="col-md-6">
        <div class="you-qa-box">
          <strong> Q：适合什么人学习？ </strong>
          <p>
            不论你是否正在做交易，做什么交易，<strong>股票、外汇、或比特币，都值得一学</strong>。 这里所展示的方法、观点、原则，都是笔者多年的交易经验与实盘操作的总结，非凭空想象。
          </p>
          <p>
            - 如果你是刚开始做交易的萌新，这里能让你形成正确的交易价值观，少走弯路、少掉坑；<br>
            - 如果你已经交易多年，并在持续盈利，那你可以对比一下这里的方法和原则，是否和你殊途同归，或者让你打开新的思路。
          </p>
          <p>
            总之，你的<strong>收获，一定会远远超过你花的时间</strong>。
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="you-qa-box">
          <strong> Q：会不会很难？ </strong>
          <p>
            事实上，<strong>比想象的简单得多得多。</strong>
          </p>
          <p>
            交易无非是解决五个问题：<br>
            - 买什么？<br>
            - 什么时候买？<br>
            - 什么时候卖？<br>
            - 什么价格买？<br>
            - 什么价格卖？<br>
          </p>
          <p>
            要做的，就是如何把这些问题巧妙处理好，最大化收益，最小化风险。笔者会尝试用通俗易懂的大白话，尽量少的金融术语，
            让你轻松学会。
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="you-qa-box">
          <strong> Q：能学到什么？ </strong>
          <p>
            你将<strong>学到成为一个专业的交易者所必备的素质</strong>，包括：
          </p>
          <p>
            - 使用 HOLD LE 工具分析搜索出高概率增长的股票。<br>
            - 如何等待最佳交易时机的出现。 <br>
            - 对交易中买入、卖出等各个环节的最优处理。 <br>
            - 高效率分散投资的方法。 <br>
            - 避免交易过程中的各种陷阱。 <br>
            - 除了股票外，这些方法和原则同样适用于区块链货币交易。 <br>
            ......
          </p>
          <p>
            这是一个持续成长的<strong>学习社区</strong>，笔者也将一直<strong>持续更新</strong>。
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="you-qa-box">
          <strong> Q：有荐股群吗？ </strong>
          <p>
            <strong> 并没有！！</strong>
          </p>
          <p>
            我们<strong>不会开任何“每日荐股”、“牛股推荐”之类的QQ或微信群</strong>。HOLD LE的目的是授人予渔，是希望你学会一套经过实践检验，能提高胜率的交易方法。
          </p>
          <p>
            而事实上，当掌握这些简单的交易原则之后，你就已经具备了独立判断的能力、不再需要别人协助，就能逻辑清晰的独立完成交易。
          </p>
          <p>
            荐股群容易被不良股票诈骗商利用发布广告，散布错误的短线交易观念，会员如果轻信，很可能会造成经济损失。
          </p>
        </div>
      </div>

    </div>

    <div class="gekai col-md-12"></div>

    <!-- about user said -->
    <div class="user-said">

      <div class="col-md-4">
        <div class="user-said-box">
          <img class="img-circle img-responsive center-block" src="http://img0.imgtn.bdimg.com/it/u=2356556675,1648301053&fm=214&gp=0.jpg" alt="">
          <h6> <strong> 皮孩儿 </strong> </h6>
          <p class="text-center"><i>股票交易5年</i></p>
          <div class="user-said-description">
            <p>
              认识ES很久了，也算是最早了解他交易方法的人之一！两年前，他向我解释这些交易方法时，
              我是被它简单而又巧妙的策略吸引的，也让我重拾股票交易的信心。
            </p>
            <p>
              对我而言，这些方法已经成为我最重要的能力，我不会再错过任何一次股市机会。
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="user-said-box">
          <img class="img-circle img-responsive center-block" src="http://img2.imgtn.bdimg.com/it/u=2324816349,1743833351&fm=27&gp=0.jpg" alt="">
          <h6> <strong> Tongkong </strong> </h6>
          <p class="text-center"><i>交易新手 内测期会员</i></p>
          <div class="user-said-description">
            <p>
              我一直认为炒股赚钱的，都是面对满屏花花绿绿的价格走势，有超乎寻常的洞察力，能够把握市场心跳脉搏，不断买进卖出的人。
            </p>
            <p>
              但在学习HOLD LE之后我知道，股票获利并不来自于每天的价格波动，想获利，需要的是用正确的方法，抓住大概率的机会。
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="user-said-box">
          <img class="img-circle img-responsive center-block" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1526402930605&di=a94f29fc0fba191b2300f20a05ab986d&imgtype=0&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201608%2F16%2F20160816121343_urvnx.jpeg" alt="">
          <h6> <strong> 莫文辉 </strong> </h6>
          <p class="text-center"><i>股票3年 比特币半年</i></p>
          <div class="user-said-description">
            <p>
              这两年我一直在用ES的这个策略交易股票，几次大行情都稳稳踩到了。但缺点在于，分析企业判断第一层概率的时候很麻烦，要在网上搜集企业资料进行对比。
            </p>
            <p>
              但现在ES把它设计成了HOLD LE 工具，把分析企业统一标准化，解决了这个问题！
            </p>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>


<div class="begin row">
  <%= link_to courses_path do %>
    <div class="begin-box">
      <h4>开始学习</h4>
      <h4><i class="fa fa-angle-down" aria-hidden="true"></i></h4>
    </div>
  <% end %><br><br><br>
  <p>HOLD LE 价值投资获利策略</p>
</div>
