<div class="pyramid-index row">

  <div class="col-lg-8 col-lg-offset-2 col-xs-12 pyramid-box">

    <div>

      <!-- ————————————————————————————————————————A股部分———————————————————————————————————————————— -->


      <!-- A股部分 会员可见 -->
      <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>A 股 <span>- China A shares -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[0..9].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[10..29].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[30..59].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>

      <!-- A股部分 非会员可见 -->
      <% if !current_user || current_user.role == "nonmember" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>A 股 <span>- China A shares -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[0..1].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-1 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示1~10榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[10..13].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-2 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示11~30榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[30..35].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-3 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示31~60榜</p>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>


      <!-- ———————————————————————————————————————美股部分————————————————————————————————————————————— -->

      <!-- 美股部分 会员可见 -->
      <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>美 股 <span>- US stocks -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[0..9].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[10..29].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[30..59].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>

      <!-- 美股部分 非会员可见 -->
      <% if !current_user || current_user.role == "nonmember" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>美 股 <span>- US stocks -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[0..1].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-1 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示1~10榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[10..13].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-2 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示11~30榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[30..35].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-3 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示31~60榜</p>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>

    </div>

  </div>


  <!-- 注意和提醒 -->
  <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 attention">
      <br><hr>
      <h4>请注意(Attention)</h4><br>
      <p>1. 上涨潜力金字塔排行榜，是根据投资交易课的选股策略设计的算法模型统计而得，排序只作为选股时参考。</p>
      <p>2. 排序得分高，并不意味着它的涨幅就更高；排序得分低，也并不意味着它的涨幅就更低。还是这句话，股市不是精确的数学计算。</p>
      <p>3. 金字塔的目的，在于快速智能地筛选出符合我们规则的股票池范围，节省时间，是在追求模糊正确，而不是为了争出个高下。</p>
      <p>4. 不能只去比较排行得分，而是还要进入财报价值表中，去逐项确认和验证。</p>
      <p>5. 为了力求更准确，算法模型的各参数，大苏会不定期去检验和调整，所以有时排序会发生变化，这是很正常的。</p>
      <br><hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 attention">

      <h4>金字塔算法规则说明(Rule description)</h4><br>
      <table class="table table-bordered">
        <tr>
          <th width = "15%">指标项</th>
          <th width = "20%">说明</th>
          <th>规则（A股选取最近5年，美股选取最近4年）</th>
          <th>分值</th>
        </tr>

        <tr>
          <th rowspan="7">股东权益报酬率(%) RoE</th>
          <td rowspan="7">股东权益报酬率RoE 是判断股票是否具备”长期上涨潜力“最重要的指标之一，
            RoE 如果既稳定又优秀，那这家公司的其他指标也基本不会差。
          </td>
          <td>RoE均值 >= 35 </td>
          <td>550分</td>
        </tr>
        <tr>
          <td>35 > RoE均值 >= 30 </td>
          <td>500分</td>
        </tr>
        <tr>
          <td>30 > RoE均值 >= 25 </td>
          <td>450分</td>
        </tr>
        <tr>
          <td>25 > RoE均值 >= 20 </td>
          <td>400分</td>
        </tr>
        <tr>
          <td>20 > RoE均值 >= 15 </td>
          <td>300分</td>
        </tr>
        <tr>
          <td>15 > RoE均值 >= 10 </td>
          <td>250分</td>
        </tr>
        <tr>
          <td>10 > RoE均值 或 0 >= 其中一年 </td>
          <td>0分</td>
        </tr>


        <tr>
          <th rowspan="4"> 总资产报酬率(%) RoA</th>
          <td rowspan="4">总资产报酬率RoA 能真实反映出一家公司的获利能力，
            相当于一家公司的 「投资年化率」，当然越高越好。
          </td>
          <td>RoE均值 >= 15 </td>
          <td>100分</td>
        </tr>
        <tr>
          <td>15 > RoA均值 >= 11 </td>
          <td>80分</td>
        </tr>
        <tr>
          <td>11 > RoA均值 >= 7 </td>
          <td>50分</td>
        </tr>
        <tr>
          <td>7 > RoA均值 </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="3"> 税后净利 规模(百万) </th>
          <td rowspan="3">获利规模大，那股价的”长期上涨潜力“也就会越稳健、越确定。选择时，大公司的优先级要高于小公司。
          </td>
          <td>税后净利均值 >= 10000 </td>
          <td>150分</td>
        </tr>
        <tr>
          <td>10000 > 税后净利均值 >= 1000 </td>
          <td>100分</td>
        </tr>
        <tr>
          <td>1000 > 税后净利均值 </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="3"> 现金状况 分析 </th>
          <td rowspan="3">总资产周转率 与 现金与约当现金占总资产的关系，可以看出公司的现金状况是否健康。
          </td>
          <td>规则①：总资产周转率 > 0.8 且 现金与约当现金占总资产(%) >= 10 </td>
          <td>50分</td>
        </tr>
        <tr>
          <td>规则②：总资产周转率 < 0.8 且 现金与约当现金占总资产(%) >= 20 </td>
          <td>50分</td>
        </tr>
        <tr>
          <td>不符合 规则① 或 规则② </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="2"> 收现日数(日) </th>
          <td rowspan="2">平均收现日数越短，说明公司的经营能力越强。
          </td>
          <td>30 >= 平均收现日数 </td>
          <td>20分</td>
        </tr>
        <tr>
          <td>平均收现日数 > 30 </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="2"> 销货日数(日) </th>
          <td rowspan="2">平均销货日数越短，说明公司商品越畅销。
          </td>
          <td>30 >= 平均销货日数 </td>
          <td>20分</td>
        </tr>
        <tr>
          <td>平均销货日数 > 30 </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="3"> 收现日数+销货日数(日) </th>
          <td rowspan="3">生意周期 是否足够优秀，越短说明每年能做的生意趟数越多，经营能力就越强。
          </td>
          <td>40 >= 收现日数+销货日数 </td>
          <td>20分</td>
        </tr>
        <tr>
          <td>60 >= 收现日数+销货日数 > 40 </td>
          <td>10分</td>
        </tr>
        <tr>
          <td>平均销货日数 > 60 </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="2"> 毛利率(%) </th>
          <td rowspan="2">毛利率 是否保持平稳，不大起大落。
          </td>
          <td>30% >= 毛利率平均波动幅度   </td>
          <td>50分</td>
        </tr>
        <tr>
          <td>毛利率平均波动幅度 > 30% </td>
          <td>0分</td>
        </tr>

        <tr>
          <th rowspan="4"> 经营安全边际率(%)</th>
          <td rowspan="4">经营安全边际率越高，说明公司能够很好的控制成本，把大部分利润转化成实际收益，
            获利能力很强，有利于抵御经济波动和价格竞争等影响。
          </td>
          <td>经营安全边际率 >= 70 </td>
          <td>50分</td>
        </tr>
        <tr>
          <td>70 > 经营安全边际率 >= 50 </td>
          <td>30分</td>
        </tr>
        <tr>
          <td>50 > 经营安全边际率 >= 30 </td>
          <td>10分</td>
        </tr>
        <tr>
          <td>30 > 经营安全边际率 </td>
          <td>0分</td>
        </tr>

        <tr>
          <td rowspan="4"> <strong>税后净利</strong> <br> 年份由近(A)~远(E) </td>
          <td rowspan="4">公司赚的钱是否在逐年增长，是股价能长期上涨的基础。
          </td>
          <td>A年 > B年 (+) / A年 < B年 (-)   </td>
          <td>+30分 / -30分</td>
        </tr>
        <tr>
          <td>B年 > C年 (+) / B年 < C年 (-)   </td>
          <td>+25分 / -25分</td>
        </tr>
        <tr>
          <td>C年 > D年 (+) / C年 < D年 (-)   </td>
          <td>+20分 / -20分</td>
        </tr>
        <tr>
          <td>D年 > E年 (+) / D年 < E年 (-)   </td>
          <td>+15分 / -15分</td>
        </tr>

        <tr>
          <td rowspan="4"> <strong>经营活动现金流量</strong> <br> 年份由近(A)~远(E) </td>
          <td rowspan="4">公司赚的钱是否在逐年增长，是股价长期上涨的基础。
          </td>
          <td>A年 > B年 (+) / A年 < B年 (-)   </td>
          <td>+30分 / -30分</td>
        </tr>
        <tr>
          <td>B年 > C年 (+) / B年 < C年 (-)   </td>
          <td>+25分 / -25分</td>
        </tr>
        <tr>
          <td>C年 > D年 (+) / C年 < D年 (-)   </td>
          <td>+20分 / -20分</td>
        </tr>
        <tr>
          <td>D年 > E年 (+) / D年 < E年 (-)   </td>
          <td>+15分 / -15分</td>
        </tr>

        <tr>
          <td colspan="4">
            <i>* 金字塔列表中，A股排除过滤掉了上市低于3年的公司；排除过滤掉了金融类（银行、保险、证券）的公司</i>
          </td>
        </tr>

      </table><br><br><br>
    </div>
  <% else %>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 attention">
      <br><hr>
      <h4>什么是金字塔？</h4><br>
      <p>上涨潜力金字塔排行榜，是根据投资交易课的选股策略，设计出的算法模型统计得出的。</p>
      <p>金字塔可以快速智能地筛选出符合我们规则的股票池范围，大大节省我们花在甄选“长期上涨潜力股”上的时间。</p>
      <br><hr>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 attention">
      <h4>金字塔算法规则说明(Rule description)</h4><br>
      <i>* VIP会员可见</i>
      <br><br><br>
    </div>
  <% end %>




</div>






<!-- 自定义 title -->
<% content_for :title do %>
  金字塔(上涨潜力排行榜) -
<% end %>



<!-- 还需继续调试 -->
<!-- 实现不同表格相同股票的关联变化 -->
<!-- <script>
  $(document).ready(function() {
    $('.pyramid-li').each(function(){
      var stockId = $(this).attr("class");
      $("."+stockId).mouseover( function(){
        $("."+stockId).css("background-color","#222");
        $("."+stockId).css("text-decoration","none");
        $("."+stockId).css("color","#f9f9f9");
        $("."+stockId).css("padding","7px 0");
        // $("."+stockId).css("min-width","250px");
        $("."+stockId, "p", "span").css("padding","7px 10px");
      });
      $("."+stockId).mouseleave( function(){
        $("."+stockId).css("background-color","#fff");
        $("."+stockId).css("color","#333");
        $("."+stockId).css("padding","0");
      });
    });
  });
</script> -->
