<div class="pyramid-index row">

  <div class="col-lg-8 col-lg-offset-2 col-xs-12 pyramid-box">

    <div>

      <!-- ————————————————————————————————————————A股部分———————————————————————————————————————————— -->


      <!-- A股部分 会员可见 -->
      <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>A 股 <span>- China A shares -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[0..9].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[10..29].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[30..59].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[60..99].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>

      <!-- A股部分 非会员可见 -->
      <% if !current_user || current_user.role == "nonmember" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>A 股 <span>- China A shares -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[0..1].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-1 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示1~10榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[10..13].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-2 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示11~30榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @stocks[30..35].each do |stock| %>
              <%= link_to stock_path(stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                    <%= stock.name %> -
                    <%= stock.easy_symbol %>
                    <span class="pull-right"><%= stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-3 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示31~60榜</p>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>


      <!-- ———————————————————————————————————————美股部分————————————————————————————————————————————— -->

      <!-- 美股部分 会员可见 -->
      <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>美 股 <span>- US stocks -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[0..9].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[10..29].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[30..59].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[60..99].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
          </div>



        </div>
      <% end %>

      <!-- 美股部分 非会员可见 -->
      <% if !current_user || current_user.role == "nonmember" %>
        <div class="col-sm-6 pyramid-list-box ">
          <div class="pyramid-flag row">
            <h2>美 股 <span>- US stocks -</span></h2>
          </div>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[0..1].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-1 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示1~10榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[10..13].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-2 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示11~30榜</p>
              </div>
            <% end %>
          </div><hr>

          <!-- list -->
          <div class="pyramid-ul row">
            <% @us_stocks[30..35].each do |us_stock| %>
              <%= link_to us_stock_path(us_stock), target: "_blank" do %>
                <div class="pyramid-li col-sm-6 row">
                  <%= us_stock.cnname[0..10] %> -
                  <%= us_stock.symbol %>
                  <span class="pull-right"><%= us_stock.pyramid_rating %></span>
                </div>
              <% end %>
            <% end %>
            <%= link_to join_index_path do %>
              <div class="nonmember-show nonmember-show-3 col-sm-12">
                <img class="center-block" src="https://i.loli.net/2018/10/21/5bcc53fe30776.png">
                <p class="text-center">加入会员 展示31~60榜</p>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>

    </div>

  </div>


  <!-- 注意和提醒 -->
  <% if current_user && current_user.role == "admin" || current_user && current_user.role == "member" %>
    <div class="col-lg-8 col-lg-offset-2 col-xs-12 attention">
      <br><hr>
      <h4>请注意(Attention)</h4><br>
      <p>1. 上涨潜力金字塔排行榜，是根据投资交易课的选股策略设计的算法模型统计而得，排序只作为选股时参考。</p>
      <p>2. 排序得分高，并不意味着它的涨幅就更高；排序得分低，也并不意味着它的涨幅就更低。还是这句话，股市不是精确的数学计算。</p>
      <p>3. 金字塔的目的，在于快速智能地筛选出符合我们规则的股票池范围，节省时间，是在追求模糊正确，而不是为了争出个高下。</p>
      <p>4. 不能只去比较排行得分，而是还要进入财报价值表中，去逐项确认和验证。</p>
      <p>5. 为了力求更准确，算法模型的各参数，大苏会不定期去检验和调整，所以有时排序会发生变化，这是很正常的。</p>
      <br><br><br>
    </div>
  <% end %>

</div>






<!-- 自定义 title -->
<% content_for :title do %>
  金字塔(上涨潜力排行榜) -
<% end %>



<!-- 还需继续调试 -->
<!-- 实现不同表格相同股票的关联变化 -->
<!-- <script>
  $(document).ready(function() {
    $('.pyramid-li').each(function(){
      var stockId = $(this).attr("class");
      $("."+stockId).mouseover( function(){
        $("."+stockId).css("background-color","#222");
        $("."+stockId).css("text-decoration","none");
        $("."+stockId).css("color","#f9f9f9");
        $("."+stockId).css("padding","7px 0");
        // $("."+stockId).css("min-width","250px");
        $("."+stockId, "p", "span").css("padding","7px 10px");
      });
      $("."+stockId).mouseleave( function(){
        $("."+stockId).css("background-color","#fff");
        $("."+stockId).css("color","#333");
        $("."+stockId).css("padding","0");
      });
    });
  });
</script> -->
