<table class="table table-striped">

  <thead>
    <td>公司</td>
    <td>总分</td>
    <td>ROE</td>
    <td>分红率</td>
    <td>现金量</td>
    <td>收现日数</td>
    <td>销货日数</td>
    <td>收现日数 + 销货日数</td>
    <td>毛利率均衡</td>
    <td>净利率均衡</td>
    <td>经营安全边际率</td>
    <td>税后净利</td>
    <td>经营活动现金流量</td>
  </thead>

  <% @us_stocks.each do |us_stock| %>
    <tr>
      <td><%= link_to(us_stock.cnname, us_stock_path(us_stock) ) %> </td>
      <td><%= us_stock.us_stock_main_pyramid %> </td>
      <td><%= us_stock.us_stock_roe_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_dividend_rate_pyramid %> </td>
      <td><%= us_stock.us_stock_cash_and_cash_equivalents_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_accounts_receivable_turnover_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_inventory_turnover_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_business_cycle_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_operating_margin_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_business_profitability_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_operating_margin_of_safety_ratio_pyramid %> </td>
      <td><%= us_stock.us_stock_after_tax_profit_pyramid %> </td>
      <td><%= us_stock.us_stock_net_cash_flow_of_business_activities_pyramid %> </td>
    </tr>
  <% end %>

</table>
