<!-- 新建 note -->
<div class="modal fade" id="momal-homeland-post-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">回复 - <%= homeland.title %></h5>
      </div>
      <%= simple_form_for ([homeland, @homeland_post_new]) do |f| %>
      <div class="modal-body">
        <%= f.input :description, :label => false, required: true, placeholder: "写下回复...",  input_html: {id: "editor", class: "form-control"} %>
      </div>
      <div class="modal-footer">
        <%= f.submit "发布", class: "btn btn-default pull-left", data: {disable_with: "Submiting"} %>
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  var editor = new Simditor({
          textarea: $('#editor'),
          pasteImage: true,
          defaultImage: '<%= image_path "upload-loading.png" %>',
          upload: {url: '/upload'},
      });
</script>
