<% if current_user %>
  <% if homeland_post.find_homeland_post_like(current_user) %>
    <%= link_to(unlike_homeland_homeland_post_path(@homeland, homeland_post), :method => :post, :remote => true) do %>
      <button class="btn btn-xs btn-default btn-block">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= homeland_post.homeland_post_likes.count %>
      </button>
    <% end %>
  <% else %>
    <%= link_to(like_homeland_homeland_post_path(@homeland, homeland_post), :method => :post, :remote => true) do %>
      <button class="btn btn-xs btn-default btn-block">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= homeland_post.homeland_post_likes.count %>
      </button>
    <% end %>
  <% end %>
<% else %>
  <button class="btn btn-xs btn-default btn-block" data-toggle="modal" data-target="#login-modal">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= homeland_post.homeland_post_likes.count %>
  </button>
<% end %>
