<%= simple_form_for [:admin, @stock] do |f| %>

  <div class="form-group">
    <%= f.input :symbol, :label => "代码/symbol", input_html: { class: "form-control"} %>
    <%= f.input :easy_symbol, :label => "代码/easy_symbol", input_html: { class: "form-control"} %>
    <%= f.input :name, :label => "名称/name", input_html: { class: "form-control"} %>
    <%= f.input :pinyin, :label => "拼音简称/pinyin", input_html: { class: "form-control"} %>
    <hr>
    <%= f.input :time_to_market, :label => "上市时间/time_to_market", input_html: { class: "form-control"} %>
    <%= f.input :regional, :label => "地域/regional", input_html: { class: "form-control"} %>
    <%= f.input :company_url, :label => "网址/company_url", input_html: { class: "form-control"} %>
    <%= f.input :industry, :label => "行业/industry", input_html: { class: "form-control"} %>
    <%= f.input :main_business, :label => "主营业务/main_business", input_html: { class: "form-control"} %>
    <hr>
    <%= f.input :lrb, :label => "利润表/lrb", input_html: { class: "form-control"} %>
    <%= f.input :llb, :label => "流量表/lrb", input_html: { class: "form-control"} %>
    <%= f.input :zcb, :label => "资产负债表/zcb", input_html: { class: "form-control"} %>
    <%= f.input :dividends, :label => "分红/dividends", input_html: { class: "form-control"} %>
    <hr>
    <%= f.input :static_data_10, :label => "静态数据10/static_data_10", input_html: { class: "form-control"} %>
    <%= f.input :static_data_5, :label => "静态数据5/static_data_5", input_html: { class: "form-control"} %>
    <%= f.input :static_data_2, :label => "静态数据2/static_data_2", input_html: { class: "form-control"} %>
    <hr>
    <%= f.submit "提交", :class => "btn btn-sm btn-default", :data => { disable_with: "Submiting..." } %>

  </div>

<% end %>
