<div>

  <div>
    <%= link_to("新建股票数据", new_admin_stock_path, :class => "btn btn-default pull-right" ) %>

    <!-- 行业筛选 -->
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        行业选择
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <% @industry_list.each do |i| %>
          <li>
            <%= link_to( i , admin_stocks_path(:order => i)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>代码/symbol</th>
        <th>名称/name</th>
        <th>拼音简称/pinyin</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <td><%=link_to(stock.easy_symbol, admin_stock_path(stock)) %></td>
          <td><%= stock.name %></td>
          <!--  -->


          <td><%= stock.static_data_5 %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @stocks %>



</div>
