<div>

  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>品目</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>代码/easy_symbol</td>
        <td><%= @stock.easy_symbol %></td>
      </tr>
      <tr>
        <td>代码/symbol</td>
        <td><%= @stock.symbol %></td>
      </tr>
      <tr>
        <td>名称/name</td>
        <td><%= @stock.name %></td>
      </tr>
      <tr>
        <td>行业/industry</td>
        <td><%= @stock.industry %></td>
      </tr>
    </tbody>
  </table>
  <hr>

  <!-- tab标签导航栏 -->
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab">资产表/zcb</a>
      </li>
      <li>
        <a href="#tab_default_2" data-toggle="tab">利润表/lrb</a>
      </li>
      <li>
        <a href="#tab_default_3" data-toggle="tab">流量表/llb</a>
      </li>
    </ul>
  </div>


  <div class="tab-content">

    <!-- 资产表/zcb TAB -->
    <div class="tab-pane active" id="tab_default_1" style="white-space:nowrap;">
      <h3>资产表/zcb</h3>

      <!-- 2012年报 -->
      <table class="table table-striped">
        <% (0..108).each do |r| %>
          <tr>
            <td><%= r %></td>
            <td><%= @stock.zcb_r[r].split(",")[0] %></td>
            <% @stock.quarter_years(1, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
            <% @stock.quarter_recent(1, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

    </div>

    <!-- 利润表/lrb TAB -->
    <div class="tab-pane" id="tab_default_2" style="white-space:nowrap;">
      <h3>利润表/lrb</h3>

      <!-- 2012年报 -->
      <table class="table table-striped">
        <% (0..45).each do |r| %>
          <tr>
            <td><%= r %></td>
            <td><%= @stock.lrb_r[r].split(",")[0] %></td>
            <% @stock.quarter_years(2, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
            <% @stock.quarter_recent(2, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

    </div>

    <!-- 流量表/llb TAB -->
    <div class="tab-pane" id="tab_default_3" style="white-space:nowrap;">
      <h3>流量表/llb</h3>

      <!-- 2012年报 -->
      <table class="table table-striped">
        <% (0..89).each do |r| %>
          <tr>
            <td><%= r %></td>
            <td><%= @stock.llb_r[r].split(",")[0] %></td>
            <% @stock.quarter_years(3, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
            <% @stock.quarter_recent(3, r).each do |i| %>
              <td><%= i %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

    </div>




  </div>
</div>
