<!-- user参数来自 users_controller#show @user -->

<% if current_user && user == current_user %>
  <%= simple_form_for ([user, @user_twitter_new]) do |f| %>
    <%= f.input :content, :label => false, :placeholder => "写下你的心得 #Twitter#",input_html: { class: "form-control", :rows => 5, :style=> 'width: 100%;'} %>
    <div id="note-status-button" class="btn-group" data-toggle="buttons">
      <% Twitter::TWITTER_STATUS.each do |status| %>
        <label class="btn btn-sm btn-default <%= (status == f.object.status)? 'active' : '' %>">
          <%= f.radio_button :status, status %>
          <%= t(status, :scope => "note.status") %>
        </label>
      <% end %>
    </div>
    <%= f.submit "发布", class: "btn btn-default pull-right", data: {disable_with: "Submiting"} %>
  <% end %>
  <br>
<% end %>

<div class="label-title">
  <h4>Twitter<span class="badge pull-right"><%= @user.twitters.size %></span></h4>
</div>
<hr>
<!-- twitter 列表与展示 -->
<!-- 如果当前用户为登陆者 -->
<% if current_user && (current_user == @user || current_user.role == "admin") %>
  <% @twitters.each do |twitter| %>
    <%= render :partial => "//twitters/user_info_twitter_list", :locals => { :twitter => twitter } %>
  <% end %>
<% else %>
  <% @twitters.where.not(:status => "私密").each do |twitter| %>
    <%= render :partial => "//twitters/user_info_twitter_list", :locals => { :twitter => twitter } %>
  <% end %>
<% end %>


<%= paginate @twitters, :param_name => :twitters %>

<br>



<!-- <script type="text/javascript">
  var editor = new Simditor({
          textarea: $('#editor'),
          placeholder: '想问的问题...',
          cleanPaste: true,
          pasteImage: true,
          defaultImage: '<%= image_path "upload-loading.png" %>',
          upload: false,
          toolbar: ['title', 'bold', 'italic', 'underline','strikethrough','color', '|','ol','ul','blockquote','code','table','link','image','|', 'fullscreen']
      });
</script> -->
