<div>

  <h2>网站统计</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>统计项</th>
        <th>点击数</th>
        <th>点击人次</th>
      </tr>
    </thead>
    <tbody>

      <!-- 主页 welcome/index -->
      <tr>
        <td>主页 welcome/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Welcome",
            :controller_name => "welcome",
            :action_name => "index2",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Welcome",
            :controller_name => "welcome",
            :action_name => "index2",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <!-- 投资交易课  courses/index -->
      <tr>
        <td>课程  courses/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Course",
            :controller_name => "courses",
            :action_name => "index",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Course",
            :controller_name => "courses",
            :action_name => "index",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <!-- 课程帖  posts/show -->
      <tr>
        <td>课程帖  posts/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Post",
            :controller_name => "posts",
            :action_name => "show",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Post",
            :controller_name => "posts",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <!-- 视频教学 videos/index -->
      <tr>
        <td>视频教学 videos/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "index",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "index",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <!-- 视频帖 videos/show -->
      <tr>
        <td>视频帖 videos/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "show",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <tr><td>-</td><td>-</td><td>-</td></tr>

      <!-- A股  stocks/show -->
      <tr>
        <td>A股  stocks/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Stock",
            :controller_name => "stocks",
            :action_name => "show",
          ).count / 2            # 不知道为何被统计两次，所以除2
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Stock",
            :controller_name => "stocks",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>

      <!-- 美股   us_stocks/show -->
      <tr>
        <td>美股  us_stocks/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "UsStock",
            :controller_name => "us_stocks",
            :action_name => "show",
          ).count / 2            # 不知道为何被统计两次，所以除2
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "UsStock",
            :controller_name => "us_stocks",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>


    </tbody>
  </table>

</div>
