<%= simple_form_for [:admin, @setting] do |f| %>

  <div class="form-group">
    <%= f.input :a_industry, :label => "A 股行业", input_html: { class: "form-control"} %>
    <%= f.input :us_industry, :label => "美股行业", input_html: { class: "form-control"} %>
    <hr>
    <%= f.input :version_1, :label => "A股 数据版本1", input_html: { class: "form-control"} %>
    <%= f.input :version_2, :label => "A股 数据版本2", input_html: { class: "form-control"} %>
    <%= f.input :version_3, :label => "A股 数据版本3", input_html: { class: "form-control"} %>
    <%= f.input :version_4, :label => "A股 数据版本4", input_html: { class: "form-control"} %>
    <%= f.input :version_5, :label => "A股 数据版本5", input_html: { class: "form-control"} %>
    <hr>
    <%= f.input :us_version_1, :label => "美股 数据版本1", input_html: { class: "form-control"} %>
    <%= f.input :us_version_2, :label => "美股 数据版本2", input_html: { class: "form-control"} %>
    <%= f.input :us_version_3, :label => "美股 数据版本3", input_html: { class: "form-control"} %>
    <%= f.input :us_version_4, :label => "美股 数据版本4", input_html: { class: "form-control"} %>
    <%= f.input :us_version_5, :label => "美股 数据版本5", input_html: { class: "form-control"} %>

    <%= f.submit "提交", :class => "btn btn-sm btn-default", :data => { disable_with: "Submiting..." } %>
  </div>

<% end %>
