<div class="" style="max-width: 1200px; margin-left: auto; margin-right: auto; margin-top: 20px">

  <table class="table table table-striped">
    <td></td>
    <td>
      <%= link_to("新建系统设置", new_admin_setting_path, :class => "btn btn-xs btn-default pull-right" ) %>
    </td>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id %> 号系统设置</td>
        <td>
          <%= link_to("删除", admin_setting_path(setting), method: :delete, :class => "btn btn-xs btn-default pull-right", data: { confirm: "确定删除" }) %>
          <%= link_to("编辑", edit_admin_setting_path(setting), :class => "btn btn-xs btn-default pull-right") %>
        </td>
      </tr>
      <tr>
        <td>A 股行业</td>
        <td><%= setting.a_industry %></td>
      </tr>
      <tr>
        <td>美股领域</td>
        <td><%= setting.us_sector %></td>
      </tr>
      <tr>
        <td>美股行业细分</td>
        <td><%= setting.us_industry %></td>
      </tr>
      <tr><td>A1</td><td><%= setting.version_1 %></td></tr>
      <tr><td>A2</td><td><%= setting.version_2 %></td></tr>
      <tr><td>A3</td><td><%= setting.version_3 %></td></tr>
      <tr><td>A4</td><td><%= setting.version_4 %></td></tr>
      <tr><td>A5</td><td><%= setting.version_5 %></td></tr>
      <tr><td>美1</td><td><%= setting.us_version_1 %></td></tr>
      <tr><td>美2</td><td><%= setting.us_version_2 %></td></tr>
      <tr><td>美3</td><td><%= setting.us_version_3 %></td></tr>
      <tr><td>美4</td><td><%= setting.us_version_4 %></td></tr>
      <tr><td>美5</td><td><%= setting.us_version_5 %></td></tr>
    <% end %>
  </table>

  <!-- A 股搜索列表 -->
  <!-- <% @stocks.each do |stock| %>
    "<%= stock.easy_symbol %> - <%= stock.name %> - <%= stock.pinyin %>", <br>
  <% end %>
  <%= paginate @stocks %> -->

  <!-- 美股搜索列表 -->
  <!-- <% @us_stocks.each do |stock| %>
    "<%= stock.symbol %> - <%= stock.cnname %>", <br>
  <% end %>
  <%= paginate @us_stocks %> -->






  <!-- _______________网站统计_______________ -->
<br><br><br>

  <div>
   <h2>网站统计</h2>
   <table class="table table-striped">
    <thead>
      <tr>
        <th>统计项</th>
        <th>点击数</th>
        <th>点击人次</th>
      </tr>
    </thead>
    <tbody>
       <!-- 主页 welcome/index -->
      <tr>
        <td>主页 welcome/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Welcome",
            :controller_name => "welcome",
            :action_name => "index2",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Welcome",
            :controller_name => "welcome",
            :action_name => "index2",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
      <!-- 关于我们 welcome/about -->
     <tr>
       <td>关于我们 welcome/about</td>
       <td>
         <%= Impression.where(
           :impressionable_type => "Welcome",
           :controller_name => "welcome",
           :action_name => "about",
         ).count
         %>
       </td>
       <td>
         <%= Impression.where(
           :impressionable_type => "Welcome",
           :controller_name => "welcome",
           :action_name => "about",
         ).pluck(:session_hash).uniq.count
         %>
       </td>
     </tr>
       <!-- 投资交易课  courses/index -->
      <tr>
        <td>课程  courses/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Course",
            :controller_name => "courses",
            :action_name => "index",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Course",
            :controller_name => "courses",
            :action_name => "index",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
       <!-- 课程帖  posts/show -->
      <tr>
        <td>课程帖  posts/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Post",
            :controller_name => "posts",
            :action_name => "show",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Post",
            :controller_name => "posts",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
       <!-- 视频教学 videos/index -->
      <tr>
        <td>视频教学 videos/index</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "index",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "index",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
       <!-- 视频帖 videos/show -->
      <tr>
        <td>视频帖 videos/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "show",
          ).count
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Video",
            :controller_name => "videos",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
       <tr><td>-</td><td>-</td><td>-</td></tr>
       <!-- A股  stocks/show -->
      <tr>
        <td>A股  stocks/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Stock",
            :controller_name => "stocks",
            :action_name => "show",
          ).count / 2            # 不知道为何被统计两次，所以除2
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "Stock",
            :controller_name => "stocks",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
      <!-- A股  stocks/industry -->
     <tr>
       <td>A股行业页面  stocks/industry</td>
       <td>
         <%= Impression.where(
           :impressionable_type => "Stock",
           :controller_name => "stocks",
           :action_name => "industry",
         ).count
         %>
       </td>
       <td>
         <%= Impression.where(
           :impressionable_type => "Stock",
           :controller_name => "stocks",
           :action_name => "industry",
         ).pluck(:session_hash).uniq.count
         %>
       </td>
     </tr>
     <tr><td>-</td><td>-</td><td>-</td></tr>
       <!-- 美股   us_stocks/show -->
      <tr>
        <td>美股  us_stocks/show</td>
        <td>
          <%= Impression.where(
            :impressionable_type => "UsStock",
            :controller_name => "us_stocks",
            :action_name => "show",
          ).count / 2            # 不知道为何被统计两次，所以除2
          %>
        </td>
        <td>
          <%= Impression.where(
            :impressionable_type => "UsStock",
            :controller_name => "us_stocks",
            :action_name => "show",
          ).pluck(:session_hash).uniq.count
          %>
        </td>
      </tr>
      <!-- 美股   us_stocks/sector -->
     <tr>
       <td>美股领域页面  us_stocks/sector</td>
       <td>
         <%= Impression.where(
           :impressionable_type => "UsStock",
           :controller_name => "us_stocks",
           :action_name => "sector",
         ).count
         %>
       </td>
       <td>
         <%= Impression.where(
           :impressionable_type => "UsStock",
           :controller_name => "us_stocks",
           :action_name => "sector",
         ).pluck(:session_hash).uniq.count
         %>
       </td>
     </tr>
     <!-- 美股   us_stocks/industry -->
    <tr>
      <td>美股行业页面  us_stocks/industry</td>
      <td>
        <%= Impression.where(
          :impressionable_type => "UsStock",
          :controller_name => "us_stocks",
          :action_name => "industry",
        ).count
        %>
      </td>
      <td>
        <%= Impression.where(
          :impressionable_type => "UsStock",
          :controller_name => "us_stocks",
          :action_name => "industry",
        ).pluck(:session_hash).uniq.count
        %>
      </td>
    </tr>
     </tbody>
  </table>
 </div>


</div>
