<div class="" style="max-width: 1200px; margin-left: auto; margin-right: auto; margin-top: 20px">

  <table class="table table table-striped">
    <td></td>
    <td>
      <%= link_to("新建系统设置", new_admin_setting_path, :class => "btn btn-xs btn-default pull-right" ) %>
    </td>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= setting.id %> 号系统设置</td>
        <td>
          <%= link_to("删除", admin_setting_path(setting), method: :delete, :class => "btn btn-xs btn-default pull-right", data: { confirm: "确定删除" }) %>
          <%= link_to("编辑", edit_admin_setting_path(setting), :class => "btn btn-xs btn-default pull-right") %>
        </td>
      </tr>
      <tr>
        <td>A 股行业</td>
        <td><%= setting.a_industry %></td>
      </tr>
      <tr>
        <td>美股领域</td>
        <td><%= setting.us_sector %></td>
      </tr>
      <tr>
        <td>美股行业细分</td>
        <td><%= setting.us_industry %></td>
      </tr>
      <tr><td>A1</td><td><%= setting.version_1 %></td></tr>
      <tr><td>A2</td><td><%= setting.version_2 %></td></tr>
      <tr><td>A3</td><td><%= setting.version_3 %></td></tr>
      <tr><td>A4</td><td><%= setting.version_4 %></td></tr>
      <tr><td>A5</td><td><%= setting.version_5 %></td></tr>
      <tr><td>美1</td><td><%= setting.us_version_1 %></td></tr>
      <tr><td>美2</td><td><%= setting.us_version_2 %></td></tr>
      <tr><td>美3</td><td><%= setting.us_version_3 %></td></tr>
      <tr><td>美4</td><td><%= setting.us_version_4 %></td></tr>
      <tr><td>美5</td><td><%= setting.us_version_5 %></td></tr>
    <% end %>
  </table>

  <!-- A 股搜索列表 -->
  <!-- <% @stocks.each do |stock| %>
    "<%= stock.easy_symbol %> - <%= stock.name %> - <%= stock.pinyin %>", <br>
  <% end %>
  <%= paginate @stocks %> -->

  <!-- 美股搜索列表 -->
  <!-- <% @us_stocks.each do |stock| %>
    "<%= stock.symbol %> - <%= stock.cnname %>", <br>
  <% end %>
  <%= paginate @us_stocks %> -->


</div>
