<div class="course-index row">

  <!-- part_1 写在前面-->
  <div class="col-lg-8 col-lg-offset-2 col-md-12 course-box">
    <div class="part-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>前言 - 来自作者的一封信</h2>
        <p>
          在真正开始之前，就当被骗也好，请答应我两件事情。
        </p>
      </div>
    </div>

    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-12 course-post row ">
          <!-- <h3><%= Course.find_by_id(4).title %></h3><br> -->

          <video controls poster="http://image.holdle.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202018-08-08%2015.35.58.png">
            <source src="http://video.holdle.com/3d190c7d25654cc29826409d12068d55/2dba21950b3a4681a10e3da18247c19e-2e7ff75ffce8723835a0efb4c85d760d-hd.mp4" type="video/mp4">
          </video>

          <div class="">
            <%= sanitize markdown Course.find_by_id(5).description %>
          </div> <br>
        </div>
        <!-- <div class="col-sm-4 course-img">
          <img src="<%= Course.find_by_id(1).surface_img %>">
        </div> -->
      </div>
    </div>
  </div>


  <!-- part1 股票投资的误区 -->
  <div class="col-lg-8 col-lg-offset-2 col-md-12 course-box">
    <div class="part-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>赚到钱，才是最终目的</h2>
        <p>
          投资交易最大的障碍往往是自己，觉得自己想的就是真相，质疑一切，并远离和批判那些自己看不懂的东西。
        </p>
      </div>
    </div>

    <!-- part_2 lesson1 -->
    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-8 course-post row ">
          <h3><%= Course.find_by_id(4).title %></h3><br>
          <div class="course-description">
            <%= sanitize markdown Course.find_by_id(4).description %>
          </div>
          <div class="post-ul">
            <% Course.find_by_id(4).posts.order("catalog").each do |post| %>
              <div class="post-li">
                <%= link_to course_post_path(Course.find_by_id(4), post) do %>
                  <%= post.catalog %> - <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs course-img">
          <img src="<%= Course.find_by_id(4).surface_img %>">
        </div>
      </div>
    </div>
  </div>


  <!-- part_2 课程1-->
  <div class="col-lg-8 col-lg-offset-2 col-md-12 course-box">
    <div class="part-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>寻找具备长期上涨潜力的股票</h2>
        <p>
          第一层概率，在上千个目标中，找出那些能把握得住的机会，使用 HOLD LE 工具，会让工作变得非常轻松。
        </p>
      </div>
    </div>

    <!-- part_2 lesson1 -->
    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-8 course-post row ">
          <h3><%= Course.find_by_id(2).title %></h3><br>
          <div class="course-description">
            <%= sanitize markdown Course.find_by_id(2).description %>
          </div>
          <div class="post-ul">
            <% Course.find_by_id(2).posts.order("catalog").each do |post| %>
              <div class="post-li">
                <%= link_to course_post_path(Course.find_by_id(2), post) do %>
                  <%= post.catalog %> - <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs course-img">
          <img src="<%= Course.find_by_id(2).surface_img %>">
        </div>
      </div>
    </div>

    <!-- part_2 lesson2 -->
    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-8 course-post row ">
          <h3><%= Course.find_by_id(3).title %></h3><br>
          <div class="course-description">
            <%= sanitize markdown Course.find_by_id(3).description %>
          </div>
          <div class="post-ul">
            <% Course.find_by_id(3).posts.order("catalog").each do |post| %>
              <div class="post-li">
                <%= link_to course_post_path(Course.find_by_id(3), post) do %>
                  <%= post.catalog %> - <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs course-img">
          <img src="<%= Course.find_by_id(3).surface_img %>">
        </div>
      </div>
    </div>

  </div>

  <!-- part_3 课程1-->
  <div class="col-lg-8 col-lg-offset-2 col-md-12 course-box">
    <div class="part-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>寻找低风险、高胜率的交易时机</h2>
        <p>
          第二层概率，确定了交易目标后，要耐心等待交易时机的出现，这是个愉快而有趣的过程。
        </p>
      </div>
    </div>

    <!-- part_3 lesson1 -->
    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-8 course-post row ">
          <h3><%= Course.find_by_id(6).title %></h3><br>
          <div class="course-description">
            <%= sanitize markdown Course.find_by_id(6).description %>
          </div>
          <div class="post-ul">
            <% Course.find_by_id(6).posts.order("catalog").each do |post| %>
              <div class="post-li">
                <%= link_to course_post_path(Course.find_by_id(6), post) do %>
                  <%= post.catalog %> - <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs course-img">
          <img src="<%= Course.find_by_id(6).surface_img %>">
        </div>
      </div>
    </div>

  </div>

  <!-- part_4 课程1-->
  <div class="col-lg-8 col-lg-offset-2 col-md-12 course-box">
    <div class="part-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h2>让优秀机会自己生根发芽</h2>
        <p>
          找到了长期占有概率优势的机会就千万别错过它，把它当宝贝一样去细心管理。
        </p>
      </div>
    </div>

    <!-- part_3 lesson1 -->
    <div class="course-content row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="col-sm-8 course-post row ">
          <h3><%= Course.find_by_id(7).title %></h3><br>
          <div class="course-description">
            <%= sanitize markdown Course.find_by_id(7).description %>
          </div>
          <div class="post-ul">
            <% Course.find_by_id(7).posts.order("catalog").each do |post| %>
              <div class="post-li">
                <%= link_to course_post_path(Course.find_by_id(7), post) do %>
                  <%= post.catalog %> - <%= post.title %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs course-img">
          <img src="<%= Course.find_by_id(7).surface_img %>">
        </div>
      </div>
    </div>

  </div>

</div>
