<div class="post-show row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12 post-box">

    <div class="post-title row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1><%= sanitize markdown @post.title %></h1>
      </div>
    </div>

    <div class="post-description row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <!-- public 所有人可见 -->
        <% if @post.status == "public" %>
          <%= sanitize markdown @post.description %>
        <!-- member 会员可见 -->
        <% elsif @post.status == "member" %>
          <% if current_user && ( current_user.role == "member" || current_user.role == "admin" ) %>
              <%= sanitize markdown @post.description %>
          <% else %>
            你还不是会员哟
          <% end %>
        <!-- draf 草稿状态时 -->
        <% else %>
          <div class="text-center">
            <br><br><br>即将发布<br><br><br><br><br>
          </div>
        <% end %>

        <div class="text-center" style="margin-top: 70px; color: #999; font-size: 10px;">
          <i>( 发布时间：<%= @post.created_at.strftime("%Y/%m/%d %I:%M %p") %> )</i>
          <br><br>
          <i>- 所有文章均为作者原创，受著作权保护，未经授权禁止转载、二传二改、截图搬运及改稿冼稿 - </i>
        </div>

      </div>
    </div>

    <!-- 目录 -->
    <div class="post-catalog row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h3><%= @post.course.title %></h3><br>
        <ul class="row">
          <% @course.posts.order("catalog").each do |post| %>
            <li class="row col-sm-6 col-xs-12">
              <%= link_to course_post_path(@course, post) do %>
                <%= post.catalog %> - <%= post.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>

<!-- 自定义 title -->
<% content_for :title do %>
  <%= @post.title %> -
<% end %>


<!-- 百度自动推送 -->
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
