<div class="join-index row">

  <div class="col-lg-8 col-lg-offset-2 col-xs-12 join-box">

    <div class="h1-title col-md-12">
      <div class="col-md-6">
        <h1>股票赚钱 谁都希望，但…</h1>
        <p>股票最大的<span>乐趣</span>，是结束交易后发现账面上惊喜的<span>红色盈利数字。</span></p>
        <p>但很多人(包括我)都曾付出过无数的时间和精力去<span>追求，却不可得</span>。经济环境？行情？价值分析？技术指标？运气？</p>
        <p></p>
        <p>……</p>
        <p>其实，这些都不如有一个<span>稳健、务实的交易规则</span>重要。</p>
      </div>
      <div class="col-md-6 join-video">
        <video controls poster="https://i.loli.net/2018/12/21/5c1bdf4115f48.jpg">
          <source src="http://video.holdle.com/1571f1c0dc9d44bb91ff266db7fcaa49/bef69d2be1ca49ac94aca8173dcb5dc5-7e5878cdf671ec69f1cc17da4efd83bd-hd.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <br><br>

    <!-- why join? -->
    <div class="row">

      <div class="col-md-12 join-slogan">
        <h2>JOIN US</h2>
        <hr>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce1a50c5c7b.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>大苏将成你的 <span>顾问帮手</span></h3>
            <p>成为会员，你可以添加大苏的个人微信，任何关于股票、投资相关的问题，都可以随时联系到我。大苏将知无不言，尽我所能，第一时间帮你解决任何问题。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce1a50d7ff9.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>解锁投资交易课 <span>进阶课程</span></h3>
            <p>除了当前投资交易课“选股策略”、“交易时机”的基础教程内容外，将解锁后续更关键的“交易管理”内容，以及将来更多只面向会员的进阶分享专题。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce22276ed1a.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>开启上涨潜力股 <span>金字塔</span></h3>
            <p>根据我们的选股策略，大苏设计了算法模型，对上万只A股和美股进行智能筛选和排序，帮你快速圈定出最具长期上涨潜力的股票池范围，更节省时间。</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 ">
        <div class="why-join col-xs-12">
          <div class="why-join-img col-sm-3 col-xs-12">
            <img class="center-block" src="https://i.loli.net/2018/10/23/5bce2749688f4.png" alt="">
          </div>
          <div class="why-join-desc col-sm-9 col-xs-12">
            <h3>更多还在构思中的 <span>未来计划</span></h3>
            <p>我的目标是做成中国最好的股票投资入门和分享社群，让大家摈弃浮躁，用正确的交易意识在投资市场中赚到钱，你的加入也是对我做这件事情的最大支持和鼓励。</p>
          </div>
        </div>
      </div>

    </div>



    <br><br>
    <!-- 微信二维码： -->

    <div class="row">
      <div class="col-md-12 join-slogan">
        <h2>HOW TO JOIN</h2>
        <hr>
      </div>
    </div>

    <div class="how-to-join col-md-12">

      <% if !current_user || (current_user && current_user.role != "member" && current_user.role != "admin") %>

      <!-- 微信方法： -->
      <div class="wechat-join col-md-6">
        <p class="texit-center"><i class="fa fa-weixin fa-4x" aria-hidden="true"></i>
        <br><br>
        <% if !current_user %>
          <a data-toggle="modal" data-target="#login-modal">
            <img class="center-block" src="https://i.loli.net/2019/01/04/5c2e41f5c785a.png" alt="">
          </a>
        <% elsif current_user && current_user.role != "member" %>
          <%= link_to join_go_wechat_pay_path do %>
            <img class="center-block" src="https://i.loli.net/2019/01/04/5c2e41f5c785a.png" alt="">
          <% end %>
        <% end %>
        <br><br>
        <p><strong> 方法一：</strong></p>
        <p><strong>注册/登录</strong>后 点击上按钮进入  <strong> 微信扫码支付</strong></p>
        <p>确认并支付<strong> <span>168</span> </strong>元(CNY)</p>
        <p>支付完成后即 <strong>自动开通会员</strong></p>
      </div>

      <!-- PayPal 方法： -->
      <div class="paypal-join col-md-6">
        <p class="texit-center"><i class="fa fa-paypal fa-4x" aria-hidden="true"></i>
        <br><br>
        <img class="center-block" src="https://i.loli.net/2018/12/01/5c020dcc53415.jpg" alt="">
        <br><br>
        <p><strong> 方法二：</strong></p>
        <p>通过 大苏 的 PayPal ：  <strong><a href="https://paypal.me/emilesu" target="_blank">https://paypal.me/emilesu</a></strong></p>
        <p>支付 <strong> <span>26</span> </strong>(USD)<strong> - 或or -  <span>168</span> </strong>(CNY) </p>
        <% if !current_user %>
          <p>把您在本站<strong> <a data-toggle="modal" data-target="#login-modal">注册</a> </strong>的用户名 附在留言处 等待确认即可</p>
        <% elsif current_user %>
          <p>把您的用户名<strong> <%= current_user.username %> </strong> 附在留言处 等待确认即可</p>
        <% end %>
      </div>


      <div class="join-slogan col-md-12">
        <hr><br><br>
        <p>现在马上加入吧！<span>越早越好！</span></p>
        <p>这一定是你今年 <span>最值得、最便宜、最划算</span> 的一笔知识投资！</p>
      </div>

      <% elsif current_user && (current_user.role == "member" || current_user.role == "admin") %>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 to_be_member" style="margin-top: 0px;">

        <div class="to_be_member_avatar row">
          <%= link_to user_path(current_user) do %>
            <%= image_tag(current_user.avatar, :class => "img-circle") %>
            <h3><%= current_user.username %></h3>
          <% end %>
          <h4>您已经是 HOLD LE 会员</h4>
          <hr>
        </div>

        <img class="center-block" src="https://i.loli.net/2018/10/23/5bce37fb981c1.jpg" alt="">
        <div class="to_be_member_p">
          <p>欢迎会员朋友添加 大苏 的微信： <strong>emilesu</strong></p>
          <p>在通往财富自由的道路上 我们一起 <strong>学习、进步、成长！</strong></p>
        </div>
      </div>




      <% end %>

      <br><br>
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <hr><br><br>
        <h3>HODL LE - 会员计划：</h3>
        <table class="table table-striped table-bordered">
            <thead>
              <td></td>
              <td><strong>计划人数</strong></td>
              <td><strong>加入金额</strong></td>
              <td><strong>截止时间</strong></td>
              <td><strong>会员期限</strong></td>
            </thead>
            <tr>
              <td>第一期 (已结束)</td>
              <td>60人</td>
              <td>68(CNY) 或 12(USD)</td>
              <td>至2018年11月30日  <strong>或or</strong>  集满60人时</td>
              <td>永久</td>
            </tr>
            <tr>
              <td><strong>第二期 (进行中...)</strong></td>
              <td><strong>100人</strong></td>
              <td><strong>168(CNY) 或 26(USD)</strong></td>
              <td>2018年12月1日起 - 待定  <strong>或or</strong> 集满100人时</td>
              <td><strong>永久</strong></td>
            </tr>
            <tr>
              <td>第三期</td>
              <td>100人</td>
              <td>268(CNY) 或 40(USD)</td>
              <td>待定</td>
              <td>一年</td>
            </tr>
        </table>
      </div>

    </div>


  </div>
</div>


<!-- 自定义 title -->
<% content_for :title do %>
  加入会员 -
<% end %>
