<%= simple_form_for [:admin, @video] do |f| %>

  <div class="form-group">
    <%= f.input :title, :label => "标题/title", input_html: { class: "form-control"} %>
    <%= f.input :cover, :label => "封面/cover", input_html: { class: "form-control"} %>
    <%= f.input :video_link_1, :label => "视频连接1（YouTube）/video_link_1", input_html: { class: "form-control"} %>
    <%= f.input :video_link_2, :label => "视频连接2（bilibili）/video_link_2", input_html: { class: "form-control"} %>
    <%= f.input :video_link_3, :label => "视频连接3（facebook）/video_link_3", input_html: { class: "form-control"} %>
    <%= f.input :video_link_4, :label => "视频连接4（youku）/video_link_4", input_html: { class: "form-control"} %>

    <%= f.input :introduction, :label => "简介/introduction", input_html: { class: "form-control", :rows => 2, :id => "editor"} %>
    <%= f.input :description, :label => "内容/description", input_html: { class: "form-control", :rows => 30, :id => "editor"} %>
    <%= f.submit "提交", :class => "btn btn-sm btn-default", :data => { disable_with: "Submiting..." } %>
  </div>

<% end %>
