<!-- 会员显示 -->
<span class="post-username">
  <% if user.role == "member" %>
    <% if current_user && current_user.role == "admin" %>
      <% if user.nper == 99 %>
        <a class="user-role-<%= user.id %>" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="永久会员">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
      <% else %>
      <a class="user-role-<%= user.id %>"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="会员截止: <%= user.end_time.strftime("%Y/%m/%d") %>">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
      <% end %>
    <% elsif current_user && current_user == user %>
      <a class="user-role-<%= user.id %>"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="永久会员">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    <% elsif %>
      <a class="user-role-<%= user.id %>"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="会员">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
    <% end %>
  <% elsif user.role == "admin" %>
    <a class="user-role-<%= user.id %>"  type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="站长">
      <i class="fa fa-user-secret" aria-hidden="true"></i>
    </a>
  <% end %>
</span>


<!-- vip 下拉弹出到期时间 -->
<script>
  $(function () {
    $('.user-role-<%= user.id %>').popover()
  })
</script>
