<div class="homeland-show row">

  <div class="jumbotron text-center" style=" border-radius: 0; margin-bottom: 0;">
    <span><%= @homeland.categories %></span>
    <h1><%= @homeland.title %></h1>
  </div>

  <div class="col-lg-8 col-lg-offset-2 col-md-12 homeland-post">
    <div class="row">

      <!-- 主体 -->
      <div class="col-md-9">

        <!-- 主题 -->
        <div class="homeland-post-box">
          <div class="media">
            <!-- 头像 -->
            <div class="media-left hidden-sm hidden-xs">
              <%= link_to user_path(@homeland.user) do %>
                <% if @homeland.user.avatar.present? %>
                  <%= image_tag(@homeland.user.avatar, :class => " img-circle") %>
                <% else %>
                  <%= image_tag("https://i.loli.net/2018/10/06/5bb7978180537.jpg", :class => " img-circle") %>
                <% end %>
              <% end %>
            </div>

            <!-- 信息 -->
            <div class="media-body">
              <span class="sm-avatar hidden-md hidden-lg">
                <%= link_to user_path(@homeland.user) do %>
                  <% if @homeland.user.avatar.present? %>
                    <%= image_tag(@homeland.user.avatar, :class => " img-circle") %>
                  <% else %>
                    <%= image_tag("https://i.loli.net/2018/10/06/5bb7978180537.jpg", :class => " img-circle") %>
                  <% end %>
                <% end %>
              </span>
              <%= link_to user_path(@homeland.user) do %>
                <span class="post-username"><%= @homeland.user.username %></span>
              <% end %>
              <%= render :partial => "member", :locals => { :user => @homeland.user } %>
              <span class="media-update"> <%= time_ago_in_words( @homeland.created_at ) %>前</span>
              <!-- 发布者或管理员可修改 -->
              <% if (current_user && @homeland.user == current_user) || (current_user && current_user.role == "admin") %>
                <span class="media-update pull-right">
                  <%= link_to edit_homeland_path(@homeland) do %>
                    <i class="fa fa-cog" aria-hidden="true"></i> 丨
                  <% end %>
                  <%= link_to homeland_path(@homeland), method: :delete, data: { confirm: "确定删除" } do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </span>
              <% end %>
              <!-- description 内容 -->
              <div class="post-description"><%= simple_format(@homeland.description) %></div>
            </div>

          </div>
        </div>
        <hr>

        <!-- 回帖 点赞数 -->
        <% @homeland_posts.each do |homeland_post| %>
          <div class="homeland-post-box">
            <div class="media">
              <!-- 头像 -->
              <div class="media-left hidden-sm hidden-xs">
                <%= link_to user_path(homeland_post.user) do %>
                  <% if homeland_post.user.avatar.present? %>
                    <%= image_tag(homeland_post.user.avatar, :class => " img-circle") %>
                  <% else %>
                    <%= image_tag("https://i.loli.net/2018/10/06/5bb7978180537.jpg", :class => " img-circle") %>
                  <% end %>
                <% end %>
              </div>

              <!-- 信息 -->
              <div class="media-body">
                <span class="sm-avatar hidden-md hidden-lg">
                  <%= link_to user_path(homeland_post.user) do %>
                    <% if homeland_post.user.avatar.present? %>
                      <%= image_tag(homeland_post.user.avatar, :class => " img-circle") %>
                    <% else %>
                      <%= image_tag("https://i.loli.net/2018/10/06/5bb7978180537.jpg", :class => " img-circle") %>
                    <% end %>
                  <% end %>
                </span>
                <%= link_to user_path(homeland_post.user) do %>
                  <span class="post-username"><%= homeland_post.user.username %></span>
                <% end %>
                <%= render :partial => "member", :locals => { :user => homeland_post.user } %>
                <span class="media-update"> <%= time_ago_in_words( homeland_post.created_at ) %>前</span>
                <!-- 发布者或管理员可修改 -->
                <% if (current_user && homeland_post.user == current_user) || (current_user && current_user.role == "admin") %>
                  <span class="media-update pull-right">
                    <a data-toggle="modal" data-target="#homeland-post-edit-<%= homeland_post.id %>">
                      <i class="fa fa-cog" aria-hidden="true"></i>
                    </a> 丨
                    <%= link_to homeland_homeland_post_path(@homeland, homeland_post), method: :delete, data: { confirm: "确定删除" } do %>
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    <% end %>
                  </span>
                  <%= render :partial => "//homeland_posts/homeland_post_modal_edit", :locals => { :homeland_post => homeland_post } %>
                <% end %>
                <!-- description 内容 -->
                <div class="post-description"><%= simple_format(homeland_post.description) %></div>

                <!-- 点赞 -->
                <span class="pull-right" id="homeland-post-like-<%= homeland_post.id %>">
                  <%= render :partial => "//homeland_posts/like", :locals => { :homeland_post => homeland_post } %>
                </span>
              </div>

            </div>
          </div>
          <hr>
        <% end %>

        <!-- 回帖 除了点赞外按时间排序 -->


      </div>

      <!-- 边栏 -->
      <div class="col-md-3">
        <div class="hidden-print hidden-xs hidden-sm affix homeland-post-right">
          <!-- 回复按钮 -->
          <button type="button" class="btn btn-defaultbtn btn-default new-homeland-post-btn btn-block" data-toggle="modal" data-target="#momal-homeland-post-new">
             回 复
          </button>

          <!-- 收藏按钮 -->
          <span id="homeland-like-<%= @homeland.id %>">
            <%= render :partial => "//homelands/like", :locals => { :homeland => @homeland } %>
          </span>
        </div>
        <%= render :partial => "//homeland_posts/homeland_post_modal_new", :locals => { :homeland => @homeland } %>
      </div>


    </div>

    <%= paginate @homeland_posts %>
    <br>

  </div>

</div>
