<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="https://i.loli.net/2018/03/23/5ab4d1d5980bd.gif">
      </a>
      <!-- 响应式导航 -->
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- <div class="search d3 navbar-form">
    	<form>
    	  <input type="text" placeholder="搜索从这里开始...">
    	  <button type="submit"></button>
    	</form>
  	</div> -->

    <div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false">

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown navbar-font-size">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            筛选器
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" style="min-width:80px;">
            <li><%= link_to("A 股", industry_stocks_path(:order => "饮料制造")) %></li>
            <li><%= link_to("美股", industry_us_stocks_path(:order => "餐馆")) %></li>
          </ul>
        </li>
        <li><%= link_to("对比", contrast_vs_path) %></li>
        <li><%= link_to("投资交易课", courses_path ) %></li>
        <li><%= link_to("视频教学",  videos_path) %></li>
        <li><%= link_to("关于我们", welcome_about_path) %></li>
        <% if !current_user %>
          <li><a data-toggle="modal" data-target="#login-modal">注册/登录</a></li>
          <!-- <li><%= link_to("注册/登入", user_wechat_omniauth_authorize_path) %></li> -->
        <% else %>
          <li class="dropdown navbar-font-size">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span><%= image_tag(current_user.avatar, :class => "img-circle") %> </span>
              <!-- <%= current_user.username %> -->
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="min-width:130px;">
              <li><%= link_to("个人中心", user_path(current_user)) %></li>
              <% if current_user.role == "admin" %>
                <li><%= link_to("管理员后台", admin_impressions_index_path) %></li>
                <li class="divider"> </li>
              <% end %>
              <li><%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>

      <!-- 搜索输入框 -->
      <div class="navbar-form navbar-nav navbar-right search d3">

          <div id="form-rearch">
            <%= form_tag search_stocks_path, :method => :get  do %>
              <div class="">
                <input class="search-v1" type="saerch" name="q" value="<%= params[:q] %>" placeholder="股票代码\名称..." required="required" autocomplete="off">
                  <button type="submit"></button>
              </div>
            <% end %>
          </div>

      </div>

    </div>



  </div>
</nav>


<!-- 登录 login_modal -->
<%= render :partial => "//common/login_modal" %>
