<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img alt="Brand" src="https://i.loli.net/2018/01/31/5a70d68387152.gif"></a>
      <!-- 响应式导航 -->
      <button type="button" class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- <div class="search d3 navbar-form">
    	<form>
    	  <input type="text" placeholder="搜索从这里开始...">
    	  <button type="submit"></button>
    	</form>
  	</div> -->

    <div class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false">

      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %></li>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <li><%= link_to("投资策略", ) %></li>
          <li><%= link_to("加入会员", ) %></li>
          <li><%= link_to("讨论区", ) %></li>
          <li class="dropdown navbar-font-size">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.role == "admin" %>
                <li><%= link_to("管理员后台", admin_base_data_index_path) %></li>
              <% end %>
              <li class="divider"> </li>
              <li><%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>

      <!-- 搜索输入框 -->
      <div class="navbar-form navbar-right search d3">

          <div id="form-rearch">
            <%= form_tag search_stocks_path, :method => :get  do %>
              <div class="">
                <input id="search-v1" type="saerch" class="" name="q" value="<%= params[:q] %>" placeholder="股票代码\名称..." required="required" autocomplete="off">
                  <button type="submit"></button>
              </div>
            <% end %>
          </div>

      </div>

    </div>



  </div>
</nav>

<!-- <script>
$(function() {
		$('.nav li').click(function(e) {
			$('.nav li').removeClass('active');
			//$(e.target).addClass('active');
			$(this).addClass('active');
		});
	});
</script> -->
