<!DOCTYPE html>
<html>
  <head>
    <title>HOLD LE 后台管理系统</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <!-- <div class="row"> -->
        <%= render "common/admin_navbar" %>
        <%= render "common/flashes" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
