<!DOCTYPE html>
<html>
  <head>
    <title>StockFinanceShare</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/flashes" %>
    <%= yield %>
  </body>
</html>
