<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> HOLD LE 股票分析策略</title>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', :async => true %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <!-- <div class="row"> -->
        <%= render "common/navbar" %>
        <!-- <%= render "common/flashes" %> -->
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
