<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> HOLD LE - 股票入门教学 | 投资交易分享社群</title>
    <%= favicon_link_tag image_path("favicon.ico") %>
    <%= csrf_meta_tags %>
    <meta name="description" content="HOLD LE 是关于投资交易、股票交易的知识知识分享社群，站长、作者Emile Su（苏超鹏）分享了他十年来对投资交易思考及实践方法，为投资者、特别是股票新手提供了一套行之有效的价值投资方法策略，并设计开发了 HOLD LE 财报数据选股神器，让投资新手能够快速入门。">
    <meta name="keywords" content="股票,股票分析,股票教学,股票入门,投资,股票投资,股票行情,投资教学,股票教學,股票入門,投資,股票投資,股票行情,投資教學,投资策略,学习投资,学习炒股,炒股方法,新手投资入门,股票赚钱方法,股票教程视频,价值投资,股票干货,免费企业财报数据,holdle,HoldLe,Hold Le">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />

    <meta name="google-site-verification" content="CzYOKbG8z0LrE8wGSGL8aRualvp_Wr1OcpYzsRTN7Hg" />
    <meta name="baidu-site-verification" content="wlMniUQaaC" />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', :async => true %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="content">
      <div class="container-fluid">
        <!-- <div class="row"> -->
        <%= render "common/navbar" %>
        <!-- <%= render "common/flashes" %> -->
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
